<div [formGroup]="parentForm" class="input-group mb-3">
  <div class="input-group-prepend">
    <a routerLink="/help" target="_blank" fragment="{{ input_control.anchor }}" name="tip_{{ controlName }}"
       data-toggle="tooltip" data-placement="right" title="{{ input_control.description }}">
      <span class="input-group-text" style="height: 100%;">{{ input_control.label }}</span>
    </a>
  </div>
  <div *ngIf="input_control.control_disabled" style="padding-top: 5px;">    
    <input type="hidden"
           formControlName="{{ controlName }}"
           [required]="input_control.required">
    <span style="margin-left: 10px;">{{ input_control.value }}</span>
  </div>
  <ng-container *ngIf="!input_control.control_disabled">
    <textarea class="form-control" 
              rows="10" 
              cols="5"
              formControlName="{{ controlName }}"
              [required]="input_control.required"
              [placeholder]="input_control.placeholder"></textarea>
    <div *ngIf="input_control.invalid && (input_control.dirty || input_control.touched)" class="invalid-feedback2">
      <div *ngIf="input_control.errors.required">Required field</div>
      <div *ngIf="input_control.errors.pattern">{{ input_control.invalid_feedback }}</div>
      <div *ngIf="input_control.hasError('custom_error')">
        <div>{{ input_control.getError('custom_error') }}</div>
      </div>
    </div>
    <div *ngIf="input_control.valid" class="valid-feedback2">
    {{ input_control.valid_feedback }}
    </div>
  </ng-container>
</div>
