<div [formGroup]="parentForm" class="input-group mb-3">
  <div class="input-group-prepend">
    <a routerLink="/help" fragment="{{ input_control.anchor }}" name="tip_{{ controlName }}" 
       data-placement="right" 
       title="{{ input_control.description }}">
      <span class="input-group-text">{{ input_control.label }}</span>
    </a>
  </div>
  <div class="dropdown">
    <!-- <input formControlName="{{ controlName }}" type="text" [value]="selectedValue"  > -->
    <input formControlName="{{ controlName }}" type="button"
          name="{{ controlName }}{{ uid }}"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" [value]="selectedValue">
    <div class="dropdown-menu" aria-labelledby="pxe_type_dropdown_2" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -84px, 0px);">
      <button *ngFor="let option of input_control.options" name="{{ option }}{{ uid }}" class="dropdown-item" type="button" (click)="selectValue(option)">{{ option }}</button>
    </div>
  </div>
</div>
