<app-modal-dialog [modal]="killModal" (primaryButtonClick)="killJob()"></app-modal-dialog>
<div class="container-fluid" id="topheader">
  <div class="card" style="margin-top: 80px;">
    <div class="card-header">
        <button class="btn btn-danger" (click)="openKillModal()"><i class="icon_stop_alt2"></i> Kill Job</button>
        <button class="btn btn-danger" style="float: right;" (click)="clearConsole()"><i class="icon_trash"></i> Clear Console</button>        
    </div>
    <div #console class="card-body console">
      <p *ngFor="let msg of messages"><span [style.color]="msg.color">{{ msg.msg }}</span></p>
    </div>  
</div>