
rpmbuild/\.remote-sync\.json

ceph-deploy/\.remote-sync\.json

\.remote-sync\.json
*.pyc
.idea/
app/templates/confluence/
app/static/images/ojcctm/
app/static/images/thisiscvah/
*.orig
app/templates/thisiscvah/
app/templates/ojcctm/
app/confluence/*_views.py
