[Unit]
Description=tfplenum-frontend
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/tfplenum-frontend
ExecStart=/bin/bash /usr/bin/tfp-fe
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
