<div [formGroup]="parentForm">
  <div formArrayName="{{ controlName }}" class="card" style="width: 20rem;">
    <div class="card-header">
      {{ input_control.label }}
    </div>
    <div class="card-body">
      <p class="card-text">{{ input_control.card_text }}</p>
      <p class="card-text text-info">{{ input_control.card_notes }}</p>
    </div>
    <input *ngFor="let item of input_control.controls; let i=index" type="hidden" [formControlName]="i">
    <div #button_group class="btn-group-vertical" role="group">
        <input [disabled]="input_control.isDisabled" name="{{ controlName }}" 
               *ngFor="let selection of optionSelections; let x = index" type="button" (click)="selectedButton($event, selection)" 
               required class="btn btn-primary" value="{{ selection.label }}" name="{{ controlName }}{{ uid }}_{{ selection.value }}">
      <div *ngIf="!optionSelections" class="alert alert-danger" role="alert">
        {{ input_control.invalid_feedback }}
      </div>
    </div>
  </div>
  <a routerLink="/help" target="_blank" name="tip_{{ controlName }}" data-placement="right"
     title="{{ input_control.description }}" fragment="{{ input_control.anchor }}">
    <label>What is this?</label>
  </a>
</div>
