<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <a class="navbar-brand" href="#">TFPlenum Configurator Beta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="width: 100%;">
      <a class="nav-item nav-link" routerLink="/kickstart">Kickstart Configuration</a>
      <a class="nav-item nav-link" routerLink="/kit_configuration">Kit Configuration</a>
      <a class="nav-item nav-link" routerLink="/help">Help</a>
      <a class="nav-item nav-link" style="cursor: pointer" (click)="toggleMatrix()">{{ matrixText }}</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>