<app-modal-dialog [modal]="closeModal" (primaryButtonClick)="closeWithoutSaving($event)"></app-modal-dialog>
<app-modal-dialog [modal]="saveModal" (primaryButtonClick)="closeAndSave()"></app-modal-dialog>
<div class="container-fluid" style="margin-top: 75px;">
  <div class="card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
      <textarea #editorCard class="form-control" rows="100" cols="50" [(ngModel)]="text"></textarea>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" type="button" (click)="openCloseDialog()">Close without saving</button>
      <button class="btn btn-primary" type="button" style="float: right;" (click)="openSaveDialog()">Save and close</button>
    </div>
  </div>  
</div>