<div [formGroup]="totalServerResources" class="card">
  <input type="hidden" formControlName="log_stash_cpu_request">
  <input type="hidden" formControlName="elastic_search_cpu_request">
  <div class="card-header">
    Total Server Resources
  </div>
  <div class="card-body">
    <p class="card-text">CPU Cores Available:
      <span>{{ totalServerResources.cpuCoresAvailable }}</span>
    </p>
    <p class="card-text {{ totalServerResources.elasticSearchCss }}">CPUs Assigned to Elasticsearch:
      <span>{{ totalServerResources.assignedElasticSearchCpus | number:'1.2-2' }}</span>
      <span>{{ totalServerResources.elasticSearchErrorText }}</span>
    </p>
    <p class="text-info">Keep in mind that each server will have one core set aside for all the things non-Elasticsearch. This may lead to the
      system telling you that you have insufficient cores though it seems like you have enough.</p>
    <p class="card-text {{ totalServerResources.logstashCss }}">CPUs Assigned to Logstash:
      <span>{{ totalServerResources.assignedLogstashCpus | number:'1.2-2' }}</span>
      <span>{{ totalServerResources.logstashErrorText }}</span>
    </p>
    <p class="card-text">Memory Available:
      <span>{{ totalServerResources.memoryAvailable }}</span> GB</p>
    <p class="card-text {{ totalServerResources.elasticSearchMemCss }}">Memory Assigned to Elasticsearch:
      <span>{{ totalServerResources.assignedElasicSearchMemory | number:'1.2-2' }}</span> GBs
      <span>{{ totalServerResources.elasticSearchMemErrorText }}</span>
    </p>
    <p class="card-text">Clustered Storage Available:
      <span>{{ totalServerResources.clusterStorageAvailable }}</span> GB</p>
  </div>
</div>