<div #containerDiv class="container-fluid" style="margin-top: 70px;">
  <div class="row" style="height: 100%;">
    <div class="col-3 card" style="padding: 0px;">
      <div class="leftnav-wrapper">
        <ol class="navbar-nav navbar-sidenav leftnavbar2">
          <ng-template #recursiveList let-navBar>
            <li *ngFor="let page of navBar">
              <a id="a_{{ page.id }}" (click)="getPage($event, page.id)">{{ page.title }}</a>
              <ol *ngIf="page.children.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: page.children }"></ng-container>
              </ol>
            </li>
          </ng-template>
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: navBar }"></ng-container>
        </ol>
      </div>
    </div>
    <div class="col-9 card confluence" style="overflow-x: auto;">
      <h2>{{ title }}</h2>
      <div [innerHTML]="htmlContent"></div>
    </div>
  </div>
</div>
