<div class="modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modal.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">      
        <div *ngIf="isGeneral()">          
          {{ modal.text }}            
        </div>
        <div *ngIf="isCode()">
          <pre>
<code>{{ modal.text }}</code>
          </pre>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="modal.secondary_button_text" type="button" class="btn btn-secondary" data-dismiss="modal">{{ modal.secondary_button_text }}</button>
        <button *ngIf="modal.primary_button_text" type="button" class="btn btn-primary" data-dismiss="modal" (click)="triggerPrimaryClickEvent($event)">{{ modal.primary_button_text }}</button>
      </div>
    </div>
  </div>
</div>