<div class="modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div *ngIf="!isFormType()" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modal.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">      
        <div *ngIf="isGeneral()">
          {{ modal.text }}
        </div>
        <div *ngIf="isError()">
          {{ modal.text }}            
        </div>
        <div *ngIf="isCode()">
          <pre>
<code>{{ modal.text }}</code>
          </pre>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="modal.secondary_button_text" type="button" class="btn btn-secondary" data-dismiss="modal">{{ modal.secondary_button_text }}</button>
        <button *ngIf="modal.primary_button_text" type="button" [class]="modal.primaryButtonCssClass" data-dismiss="modal" (click)="triggerPrimaryClickEvent($event)">{{ modal.primary_button_text }}</button>
      </div>
    </div>

    <div *ngIf="isFormType()" class="modal-content">
      <form [formGroup]="modal.modalForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title">{{ modal.title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-info">{{ modal.text }}</div>
          <br>
          <div>
            <ng-container *ngFor="let controlName of objectKeys(modal.modalForm.controls)">
              <app-text-input *ngIf="isTextInput(modal.modalForm.controls[controlName])" [parentForm]="modal.modalForm" controlName="{{ controlName }}"></app-text-input>
              <app-textarea-input *ngIf="isTextArea(modal.modalForm.controls[controlName])" [parentForm]="modal.modalForm" controlName="{{ controlName }}"></app-textarea-input>
              <app-date-picker *ngIf="isDateInput(modal.modalForm.controls[controlName])" [parentForm]="modal.modalForm" controlName="{{ controlName }}"></app-date-picker>
              <app-dropdown *ngIf="isDropdownInput(modal.modalForm.controls[controlName])" [parentForm]="modal.modalForm" controlName="{{ controlName }}" (dropDownChanged)="triggerCallback($event)"></app-dropdown>
            </ng-container>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="modal.secondary_button_text" type="button" class="btn btn-secondary" data-dismiss="modal" name="secondary_btn_{{ modal.id  }}">{{ modal.secondary_button_text }}</button>
          <button *ngIf="modal.primary_button_text" class="btn btn-primary" type="submit" [disabled]="!modal.modalForm.valid" name="primary_btn_{{ modal.id }}">{{ modal.primary_button_text }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
