<app-modal-dialog [modal]="kickStartModal" (primaryButtonClick)="resetForm()"></app-modal-dialog>
<app-modal-select-dialog [modal]="restoreModal" (primaryButtonClick)="restoreForm($event)"></app-modal-select-dialog>

<div class="container" id="topheader">
  <div class="jumbotron">
    <h1 class="display-4">TFPlenum Kickstart Configuration</h1>
    <p class="lead">We're really trying to make this easier!</p>
  </div>
  <div id="main_form">
    <form [formGroup]="kickStartForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-header">
            <button class="btn btn-primary" type="button" style="margin-right: 10px;" (click)="openConsole()"><i class="icon_desktop"></i> Open Console</button>
            <button class="btn btn-secondary" type="button" [disabled]="!hasKickstartForm" (click)="restorePreviousForm()"><i class="icon_clipboard"></i> Restore Previous Form</button>
            <button class="btn btn-primary" style="float: right;" type="button" (click)="openRestoreModal()"><i class="icon_download"></i> Restore Form</button>
            <button class="btn btn-danger" type="button" style="float: right;  margin-right: 10px;" (click)="openResetConfirmation()"><i class="icon_floppy_alt"></i> Archive Form</button>
        </div>
        <div class="card-body">
          <h5>DHCP Settings</h5>
          <app-text-input [parentForm]="kickStartForm" controlName="dhcp_start"></app-text-input>
          <app-text-input [parentForm]="kickStartForm" controlName="dhcp_end"></app-text-input>
          <hr>
          <h5>Static Interface Settings</h5>
          <app-text-input [parentForm]="kickStartForm" controlName="gateway"></app-text-input>
          <app-text-input [parentForm]="kickStartForm" controlName="netmask"></app-text-input>
          <hr>
          <h5>System Settings</h5>
          <app-text-input [parentForm]="kickStartForm" controlName="root_password"></app-text-input>
          <app-text-input [parentForm]="kickStartForm" controlName="re_password"></app-text-input>
          <hr>
          <h5>Controller Settings</h5>
          <br>
          <div *ngIf="deviceFacts">
              <app-card-selector #cardSelector [parentForm]="kickStartForm" [optionSelections]="kickStartForm.interfaceSelections"
                                  controlName="controller_interface"></app-card-selector>
          </div>
        </div>
      </div>
      <br>
      <div formArrayName="nodes">
        <div *ngFor="let node of nodes.controls; let i=index" class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" (click)="toggleNode(node)">node {{ i + 1 }}</button>
              <button class="btn btn-danger" type="button" (click)="removeNode(i)" style="float:right;"><i class="icon_close_alt2"></i> Remove</button>
            </h5>
          </div>
          <div *ngIf="!node.hidden" class="card-body">
            <app-dropdown [parentForm]="node" controlName="node_type" (dropDownChanged)="nodeTypeChange($event, i)" uid="{{ i }}"></app-dropdown>
            <app-text-input [parentForm]="node" controlName="hostname" uid="{{ i }}"></app-text-input>
            <app-text-input [parentForm]="node" controlName="ip_address" uid="{{ i }}"></app-text-input>
            <app-text-input [parentForm]="node" controlName="mac_address" uid="{{ i }}"></app-text-input>
            <app-text-input [parentForm]="node" controlName="boot_drive" uid="{{ i }}"></app-text-input>
            <app-dropdown [parentForm]="node" controlName="pxe_type" uid="{{ i }}"></app-dropdown>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
            <button name="add_node" class="btn btn-primary" type="button" (click)="addNode()"><i class="icon_plus_alt2"></i> Add Node</button>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="form-group col-md-6">
          <button class="btn btn-primary" type="submit" [disabled]="!kickStartForm.valid"><i class="icon_genius" name="execute_kickstart"></i> Execute Kickstart</button>
        </div>
        <div class="form-group col-md-6">
          <button class="btn btn-primary" type="button" style="float: right;" (click)="toggleAdvancedSettings()"><i class="icon_menu"></i> Show/Hide Advanced Settings</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Validation
        </div>
        <div class="card-body" id="validation">
            <p *ngIf="kickStartForm.valid" class='text-success'>Looks good! Press 'Generate Inventory' whenever you're ready!</p>
            <div *ngIf="kickStartForm.hasError('errors')">
              <p *ngFor="let error of kickStartForm.getError('errors');" class='text-danger'>{{ error }}</p>
            </div>
        </div>
      </div>
      <br>
      <div *ngIf="!advancedSettingsFormGroup.hidden" class="card">
        <div class="card-header">
          Advanced System Settings
        </div>
        <div class="card-body">
          <p class="font-weight-light">All of the required settings below will autopopulate based on facts gathered from the servers.
            It is not necessary to change any of them in order for the system to function. However,
            you may want to update some fields manually based on your specific use cases.
          </p>
          <hr>
          <app-dropdown [parentForm]="kickStartForm.controls.advanced_settings" controlName="timezone"></app-dropdown>
        </div>
      </div>
    </form>
  </div>
</div>
