<app-modal-dialog [modal]="kitModal"></app-modal-dialog>
<app-modal-dialog #dateModal [modal]="executeKitModal" (primaryButtonClick)="executeKit()"></app-modal-dialog>
<app-modal-dialog [modal]="archiveKitModal" (primaryButtonClick)="archiveForm($event)"></app-modal-dialog>
<app-modal-archive-dialog [modal]="restoreModal" (primaryButtonClick)="restoreForm($event)" config_id="kit_form"></app-modal-archive-dialog>

<div class="container" id="topheader">
  <form [formGroup]="kitForm" (ngSubmit)="onSubmit()">    
    <div class="card">
      <div class="card-header">
        <button class="btn btn-primary" type="button" style="margin-right: 10px;" (click)="openConsole()">Open Console</button>
        <button class="btn btn-secondary" style="margin-right: 10px;" type="button" (click)="clearForm()">Clear Form</button>
        <button class="btn btn-secondary" type="button" (click)="enableForm()">Enable Form</button>
        <button class="btn btn-primary" style="float: right;" type="button" 
                (click)="openRestoreModal()"><i class="icon_download"></i> Restore Form</button>
        <button class="btn btn-danger" type="button" style="float: right;  margin-right: 10px;" 
                (click)="openArchiveConfirmation()"><i class="icon_floppy_alt"></i> Save Form</button>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body" style="border: 1px solid green;border-radius: 1rem;">
            <h5>Page Instructions</h5>
            <p class="card-text">
              Before filling out the form, make sure you have added all of your nodes to the Kickstart page.  
              The validation box at the botton of the page will guide you through filling out the form correctly.
            </p>
            <p class="card-text">
              The "Open Console" button opens the logs of the last Kit configuration run.
            </p>
            <p class="card-text">
              If the current Kit form loads and is disabled, you have an active configuration.
              If you want to start a new configuration, click "Archive and Clear Form" button at the top of the page.  This will save the current configuration if you want to restore it later.
              If you want to change the existing configuration, click "Enable Form" button at the top of the page and make your edits before clicking "Execute Kit".
            </p>
            <p class="card-text">
              If you have an active configuration (IE: Form is disabled), and want to add a node to the Kit.  
              First add the node to Kickstart page, then come back to this page to finish the rest of the configuration.
              Click "Add Node" at the botton of the page to execute. NOTE: The "Add Node" button will not be visible until the procedures are executed correctly.
            </p>
          </div>
        </div>
        <br>
        <h5 class="card-title">Global Settings</h5>
        <p class="card-text">
          Dependent on your resources, these are generally sane defaults if you don't know what you are doing and just want to get started.
          Unlike the storage settings, you can always come back and adjust them if you change your mind.
          The only field you *have* to fill out is Kubernetes Service IP Range Start.
        </p>
        <hr>
        <br>

        <h5>Credentials</h5>
        <app-text-input [parentForm]="kitForm" controlName="root_password"></app-text-input>
        <br>        
        <h5>Elasticsearch Settings</h5>
        <app-text-input [parentForm]="kitForm" controlName="elastic_cpu_percentage" (keyupEvent)="triggerValidations($event)"></app-text-input>
        <app-text-input [parentForm]="kitForm" controlName="elastic_memory_percentage" (keyupEvent)="triggerValidations($event)"></app-text-input>
        <app-text-input [parentForm]="kitForm" controlName="logstash_cpu_percentage" (keyupEvent)="triggerValidations($event)"></app-text-input>
        <p class="text-info">We found that on the typical DIP kit 1 instance with 5 CPU cores was enough. You may need to adjust based on your traffic profile.</p>
        <app-text-input [parentForm]="kitForm" controlName="logstash_replicas" (keyupEvent)="triggerValidations($event)"></app-text-input>
        <p class="text-info">Note: Elasticsearch only runs on servers. It will not run on sensors. The percentages above are only applicable to server resources - not sensor.</p>
        <app-text-input [parentForm]="kitForm" controlName="elastic_storage_percentage" (keyupEvent)="triggerValidations($event)"></app-text-input>
        <p>Storage Assigned to Elasticsearch (GBs): <span>{{ storageCalculator.elasticStorageAvailable | number:'1.0-2' }}</span></p>
        <p class="text-info">Note: The amount of storage assigned to Elasticsearch will update as you discover your hosts below. It will start at 0.</p>
        <br>

        <div *ngIf="!isMolochPercentageHidden">
          <h5>Moloch PCAP Storage Percentage</h5>
          <app-text-input [parentForm]="kitForm" controlName="moloch_pcap_storage_percentage" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <p>Storage Assigned to Moloch PCAP (GBs): <span>{{ storageCalculator.molochStorageAvailable }}</span></p>
          <p class="text-info">Note: The amount of storage assigned to Moloch will update as you discover your hosts below. It will start at 0.</p>
          <br>
        </div>

        <h5>Kubernetes Settings</h5>
        <app-dropdown [parentForm]="kitForm" controlName="kubernetes_services_cidr" (dropDownChanged)="kubernetesInputEvent($event)" uid="kube_dropdown"></app-dropdown>
        <div>{{ kitForm.kubernetesCidrInfoText }}</div>        
      </div>
    </div>
    <br>
    <app-total-system-resource-card [totalSystemResources]="kitForm.system_resources"></app-total-system-resource-card>
    <br>

    <app-total-server-resources-card [totalServerResources]="kitForm.controls.server_resources"></app-total-server-resources-card>
    <div formArrayName="servers">
      <div *ngIf="!servers.hidden">
        <div *ngFor="let server of servers.controls; let i = index" class="card">
          <div [formGroup]="server">
              <input type="hidden" formControlName="hostname">
          </div>
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" (click)="toggleServer(server)">Server {{ i + 1 }} - {{ server.hostname.value }}</button>
            </h5>
          </div>
          <div *ngIf="!server.hidden" class="card-body">
            <app-basic-node-resource-card title="Server {{ i + 1 }} resources" [basicNodeResource]="server.basicNodeResource"></app-basic-node-resource-card>
            <br>
            <app-text-input [parentForm]="server" controlName="host_server"></app-text-input>
            <app-checkbox [parentForm]="server" controlName="is_master_server" (is_checked)="disableOtherMasterOrReenable($event, i)" uid="{{ i }}"></app-checkbox>
            <br>
            <div *ngIf="server.deviceFacts">
                  <app-card-selector [parentForm]="server" [optionSelections]="server.driveSelections"
                                      controlName="ceph_drives" (onSelect)="cephDriveSelected($event, server)" uid="_server{{ i }}"></app-card-selector>
            </div>
            <div *ngIf="!server.deviceFacts">
              <h3>Loading...</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <app-total-sensor-resources-card [sensorResourceForm]="kitForm.controls.sensor_resources" ></app-total-sensor-resources-card>
    <div formArrayName="sensors">
      <div *ngIf="!sensors.hidden">
        <div *ngFor="let sensor of sensors.controls; let i = index" class="card">
          <div [formGroup]="sensor">
            <input type="hidden" formControlName="hostname">
          </div>
          <div class="card-header">
            <h5 class="mb-0">
              <div [formGroup]="sensor">
                <input type="hidden" formControlName="hostname">
              </div>
              <button class="btn btn-link" type="button" (click)="toggleSensor(sensor)">Sensor {{ i + 1 }} - {{ sensor.hostname.value }}</button>
            </h5>
          </div>

          <div *ngIf="!sensor.hidden" class="card-body">
            <app-basic-node-resource-card title="Sensor {{ i + 1 }} resources" [basicNodeResource]="sensor.basicNodeResource"></app-basic-node-resource-card>
            <br>
            <app-text-input [parentForm]="sensor" controlName="sensor_type"></app-text-input>
            <app-text-input [parentForm]="sensor" controlName="host_sensor"></app-text-input>
            <br>

            <div *ngIf="!isAdvancedOptionsHidden">
              <app-text-input [parentForm]="sensor" controlName="bro_workers" ></app-text-input>
              <app-text-input [parentForm]="sensor" controlName="moloch_threads" ></app-text-input>
            </div>

            <div *ngIf="sensor.deviceFacts">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <app-card-selector *ngIf="sensor.sensor_type.value == 'Local' && kitForm.sensor_storage_type.value == kitForm.sensor_storage_type.options[1]" [parentForm]="sensor" [optionSelections]="sensor.driveSelections"
                                     controlName="pcap_drives" uid="{{ i }}"></app-card-selector>
                  <app-card-selector *ngIf="sensor.sensor_type.value == 'Local' && kitForm.sensor_storage_type.value == kitForm.sensor_storage_type.options[0]" [parentForm]="sensor" [optionSelections]="sensor.driveSelections"
                                     controlName="ceph_drives" (onSelect)="cephDriveSelected($event, sensor)" uid="_sensor{{ i }}"></app-card-selector>
                  <app-card-selector *ngIf="sensor.sensor_type.value == 'Remote'" [parentForm]="sensor" [optionSelections]="sensor.driveSelections"
                                     controlName="pcap_drives" uid="{{ i }}"></app-card-selector>
                </div>
                <div class="form-group col-md-6">
                  <app-card-selector [parentForm]="sensor" [optionSelections]="sensor.interfaceSelections"
                                     controlName="monitor_interface" style="float: right;" uid="{{ i }}"></app-card-selector>
                </div>
              </div>
            </div>
            <div *ngIf="!sensor.deviceFacts">
              <h3>Loading...</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        Validation
      </div>
      <div class="card-body" id="validation">
          <p *ngIf="kitForm.valid" class='text-success'>Looks good! Press 'Execute Kit' whenever you're ready!</p>
          <div *ngIf="kitForm.hasError('errors')">
            <p *ngFor="let error of kitForm.getError('errors');" class='text-danger'>{{ error }}</p>
          </div>
          <div *ngIf="kitForm.endgame_warning">
            <p class='text-warning'>{{ kitForm.endgame_warning }}</p>
          </div>
      </div>
      <div class="card-footer">
        <ng-container *ngIf="hasKitForm">
          <button *ngIf="isAddNodeInsteadOfNewKit" class="btn btn-primary" style="margin-right: 10px;" 
                  type="button" [disabled]="!kitForm.valid" name="execute_addnode" (click)="executeAddNode()">Execute Add Node</button>  
        </ng-container>
          <button class="btn btn-primary" type="submit" [disabled]="!kitForm.valid" name="execute_kit">Execute Kit</button>        
          <button class="btn btn-primary" type="button" (click)="toggleAdvancedSettings()" 
                  name="advanced_settings" style="float:right;"><i class="icon_menu"></i> Show/Hide Advanced Settings</button>
      </div>
    </div>
    <br>
    <div *ngIf="!isAdvancedOptionsHidden">
      <div class="card">
        <div class="card-header">
          Advanced System Settings
        </div>
        <div class="card-body">
          <p class="font-weight-light">All of the required settings below will autopopulate based on facts gathered from the servers. It is not necessary to change
              any of them in order for the system to function. However, you may want to update some fields manually based on your specific
              use cases.
          </p>
          <p class="card-text text-danger">
            Changing the Sensor Storage Type could affect performance of moloch full PCAP capture.  Only change to Ceph storage 
            if you are not going to need more than 2 Gbps for your sensors.
          </p>
          <app-dropdown [parentForm]="kitForm" controlName="sensor_storage_type" (dropDownChanged)="sensorStorageChange($event)"></app-dropdown>
          <p class="card-text text-danger">
            Unless you really know what you are doing here, you should not change the DNS. Seriously, there's only an incredibly niche
            case for changing this and chances are you aren't in it.
          </p>
          <app-text-input [parentForm]="kitForm" controlName="dns_ip"></app-text-input>
          <app-checkbox [parentForm]="kitForm" controlName="disable_autocalculate" (is_checked)="toggleAutocalculate($event)"></app-checkbox>          
          <h5>Ceph Settings</h5>
          <app-checkbox [parentForm]="kitForm" controlName="ceph_redundancy"></app-checkbox>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          Endpoint Settings
        </div>        
        <div class="card-body">
          <p class="font-weight-light">
            Below are settings for enabling a service for pulling Endgame data into Elasticsearch and/or 
            installing Google Rapid Response as part of your Kit deployment.
          </p>
          <app-checkbox [parentForm]="kitForm" controlName="install_grr"></app-checkbox>
          <app-text-input [parentForm]="kitForm" controlName="endgame_iporhost"></app-text-input>
          <app-text-input [parentForm]="kitForm" controlName="endgame_username"></app-text-input>
          <app-text-input [parentForm]="kitForm" controlName="endgame_password"></app-text-input>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          Advanced Elasticsearch Settings
        </div>
        <div class="card-body">
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_masters" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_datas" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_cpus" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_memory" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_pv_size" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_curator_threshold"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_cpus_per_instance_ideal" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_elasticsearch_settings" controlName="elastic_cpus_to_mem_ratio" (keyupEvent)="triggerValidations($event)"></app-text-input>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          Advanced Moloch Settings
        </div>
        <div class="card-body">
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_pcap_pv_size" (keyupEvent)="triggerValidations($event)"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_bpf"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_dontSaveBPFs"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_spiDataMaxIndices"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_pcapWriteMethod"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_pcapWriteSize"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_dbBulkSize"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_maxESConns"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_maxESRequests"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_packetsPerPoll"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_magicMode"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_maxPacketsInQueue"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_packet_v3_block_size"></app-text-input>
          <app-text-input [parentForm]="kitForm.controls.advanced_moloch_settings" controlName="moloch_packet_v3_num_threads"></app-text-input>
        </div>
      </div>
      <br>
      <div class="card">
          <div class="card-header">
            Advanced Kafka Settings
          </div>
          <div class="card-body">
            <app-text-input [parentForm]="kitForm.controls.advanced_kafka_settings" controlName="kafka_jvm_memory"></app-text-input>
            <app-text-input [parentForm]="kitForm.controls.advanced_kafka_settings" controlName="kafka_pv_size" (keyupEvent)="triggerValidations($event)"></app-text-input>
            <app-text-input [parentForm]="kitForm.controls.advanced_kafka_settings" controlName="zookeeper_jvm_memory"></app-text-input>
            <app-text-input [parentForm]="kitForm.controls.advanced_kafka_settings" controlName="zookeeper_pv_size" (keyupEvent)="triggerValidations($event)"></app-text-input>
            <app-text-input [parentForm]="kitForm.controls.advanced_kafka_settings" controlName="zookeeper_replicas"></app-text-input>
          </div>
      </div>
    </div>
  </form>
</div>
