<div class="card">
  <div class="card-header">
    Total System Resources
  </div>
  <div class="card-body">
    <p class="card-text">Heads Up: These values will autopopulate after you enter your server/sensor information below.</p>
    <hr>
    <p class="card-text">CPU Cores Available: <span>{{ totalSystemResources.cpuCoresAvailable }}</span></p>
    <p class="card-text">Memory Available: <span>{{ totalSystemResources.memoryAvailable }}</span> GB</p>
    <p class="card-text">Clustered Storage Total: <span>{{ totalSystemResources.clusterStorageAvailable }}</span> GB</p>
    <p class="card-text {{ totalSystemResources.clusteredStorageCss }}">Clustered Storage Committed: <span id="system_clustered_storage_committed">{{ totalSystemResources.clusterStorageComitted }}</span> GB  <span>{{ totalSystemResources.clusteredStorageErrors }}</span></p>
    <p class="text-info">Note: Clustered Storage Committed includes requirements from Zookeeper/Kafka</p>
    <p class="card-text {{ totalSystemResources.totalCephDrivesCss }}">Total Ceph Drives: <span>{{ totalSystemResources.totalCephDrives }}</span>  <span>{{ totalSystemResources.totalCephDrivesErrors }}</span></p>
  </div>
</div>