[Unit]
Description=Starts TFPlenum Frontend
After=network.target

[Service]
WorkingDirectory=/opt/tfplenum-frontend/backend
ExecStart=/opt/tfplenum-frontend/tfp-env/bin/gunicorn --config ../setup/gunicorn_config.py app:app

[Install]
WantedBy=multi-user.target