<!-- primary_button_text: string; -->
<div class="modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 970px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modal.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body" >
          <p>{{ modal.text }}</p>
          <div style="max-height: 800px; overflow-y: auto;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" style="width: 160px;">Archived Date</th>
                  <th scope="col">Comment</th>
                  <th scope="col" style="width: 242px;">Actions</th>
                </tr>
              </thead>
              <tbody #selections >
                <ng-container *ngFor="let form of modal.selection; let i=index">
                  <tr>
                    <td>
                      <input type="radio" name="modal_input_selector" value="{{ form._id }}" (change)="onRadioSelect($event)">                                
                    </td>
                    <td>
                      <a name="modal_tooltip_selector" data-toggle="tooltip" data-placement="right" style="cursor: pointer;" (click)="toggleVisibility(i)">
                        <span>{{ form.archive_date }}</span>
                      </a>
                    </td>
                    <td>
                      <p style="word-break: break-all;">{{ form.comment }}</p>
                    </td>
                    <td>
                      <button *ngIf="!form.confirmArchiveDeletion" title="Remove Archive" class="btn btn-danger" (click)="deleteArchiveConfirm(i)"><i class="icon_close_alt2"></i></button>
                      <div class="btn-group" *ngIf="form.confirmArchiveDeletion" >
                        <button title="Cancel Deletion" class="btn btn-primary" (click)="cancelDeleteArchive(i)">Cancel</button>
                        <button title="Confirm Remove Archive" class="btn btn-danger" (click)="deleteArchive(i)"><i class="icon_close_alt2"></i> Click to confirm</button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="form.isVisible">
                    <td colspan="4">
                        <pre>
<code>{{ form | json }}</code>
                        </pre>
                        
                    </td>
                  </tr>
                </ng-container>
                
              </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="modal.secondary_button_text" type="button" class="btn btn-secondary" data-dismiss="modal">{{ modal.secondary_button_text }}</button>
        <button *ngIf="modal.primary_button_text" type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="modal.isDisabled" (click)="triggerPrimaryClickEvent()">{{ modal.primary_button_text }}</button>
      </div>
    </div>
  </div>
</div>