
<script type="text/javascript">
  $(document).ready(function(){
    // Server events: this function handles when a user presses submit on the
    // number of servers button.
    // See: https://api.jquery.com/click/
    $('#{{ button_id }}').click(function (event) {
      // Using [0] here because when you use $( "#form_servers" ) you get a jQuery
      // selection set. To access the DOM properties you have to select the first
      // item. checkValidity is an HTML5 built in function we are calling against
      // the element.
      if ($( "#{{ button_form_name }}" )[0].checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      } else {
        // This will contact the server, run the _server route, and the value provided
        // here will be used in the server.html template as the loop count variable
        // to determine how many server forms should be made. (IE if the user types
        // 5 in Number of Servers it will be transfered as the variable server_count)
        // here.
        $.get("{{ url_for('_server') }}", { server_count: $( 'input[name={{ button_field_id }}]' ).val() }, function(data){
          // The hide method is here because effects only work if the element
          // begins in a hidden state
          $( "#{{ [button_form_name, 'accordion'] | join('_') }}" ).html(data).hide().slideDown("slow");
        });
      }
      $( "#{{ button_form_name }}" ).addClass('was-validated');
    });
});
</script>

<form id='{{ button_form_name }}' role=form class="needs-validation" novalidate>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">{{ button_label }}</span>
  </div>
  <input name="{{ button_field_id }}" type="{{ button_field_type | default("text", true) }}" {{ button_constraint }} class="form-control" placeholder="{{ button_placeholder }}" {{ 'required' if button_required is defined }}>
  <div class="input-group-append">
    <button class="btn btn-primary" id="{{ button_id }}" type="button">{{ button_text }}</button>
  </div>
  <div class="valid-feedback">
  {{ button_valid_feedback | default("Looks good!", true) }}
  </div>
  <div class="invalid-feedback">
  {{ button_invalid_feedback | default("This field is required", true) }}
  </div>
</div>
{% if button_description is defined %}
<p>
  <small class="form-text text-muted">
    {{ button_description }}<br>
  </small>
</p>
{% endif %}
</form>
