
<script>
// Adding this allows this code to be identified in a browser debugger
//@ sourceURL=ceph_disk_list

  $(document).ready(function(){

    {% for disk in disks %}
    $( "#{{ [form.use_in_ceph_cluster.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).on('click', function (event) {

      if($( "#{{ [form.use_in_ceph_cluster.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).hasClass( "active" )) {
        var updated_total_clustered_storage = parseFloat($( "#{{ device_type }}_clustered_storage_available" ).text()) - {{ disk['size_gb'] }};
        $( "#{{ device_type }}_clustered_storage_available" ).replaceWith('<span id="{{ device_type }}_clustered_storage_available">' + updated_total_clustered_storage.toFixed(2) + '</span>');
        var updated_total_clustered_storage = parseFloat($( "#system_clustered_storage_available" ).text()) - {{ disk['size_gb'] }};
        var system_total_ceph_drives = parseInt($( "#system_total_ceph_drives" ).text()) - 1;
        $( "#system_total_ceph_drives" ).replaceWith('<span id="system_total_ceph_drives">' + system_total_ceph_drives + '</span>');
        $( "#system_clustered_storage_available" ).replaceWith('<span id="system_clustered_storage_available">' + updated_total_clustered_storage.toFixed(2) + '</span>');
        $( "#{{ [form.use_in_ceph_cluster.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).removeClass( "active" );
      } else {
        var updated_total_clustered_storage = parseFloat($( "#{{ device_type }}_clustered_storage_available" ).text()) + {{ disk['size_gb'] }};
        $( "#{{ device_type }}_clustered_storage_available" ).replaceWith('<span id="{{ device_type }}_clustered_storage_available">' + updated_total_clustered_storage.toFixed(2) + '</span>');
        var updated_total_clustered_storage = parseFloat($( "#system_clustered_storage_available" ).text()) + {{ disk['size_gb'] }};
        var system_total_ceph_drives = parseInt($( "#system_total_ceph_drives" ).text()) + 1;
        $( "#system_total_ceph_drives" ).replaceWith('<span id="system_total_ceph_drives">' + system_total_ceph_drives + '</span>');
        $( "#system_clustered_storage_available" ).replaceWith('<span id="system_clustered_storage_available">' + updated_total_clustered_storage.toFixed(2) + '</span>');
        $( "#{{ [form.use_in_ceph_cluster.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).addClass( "active" );
      }
      recalculate_storage_recommendation();

    });
    {% endfor %}

  });
</script>

<div class="card" style="width: 20rem;">
  <div class="card-header">
    Ceph Drives
  </div>
  <div class="card-body">
    <p class="card-text">Select which drives on the host, if any, that you would like to add to the Ceph cluster.</p>
    <p class="card-text text-danger">Note: The operating system's drive will not appear here. If a drive has the root file system mounted to it, it is excluded. This means you may only have one drive listed.</p>
  </div>
  <div class="btn-group-vertical" role="group">
    {% for disk in disks %}
    <button type="button" class="btn btn-primary" id="{{ [form.use_in_ceph_cluster.generic_button_id, disk['name'], device_number, device_type] | join('_') }}">{{ disk['name'] }}</button>
    {% endfor %}
  </div>
</div>
<a href="{{ url_for('help') + '#anchor_' + form.use_in_ceph_cluster.label | replace(' ','_') }}" target="_blank">
  <label>What is this?</label>
</a>
