<script type="text/javascript">
  $(document).ready(function(){

    {% if object.default_option is not none %}
    $( "#{{ object.default_option | replace(' ','_') | replace(' ','_') }}" ).click(function(event){
      $("#{{ object.dropdown_id }}:first-child").text($(this).text());
      $("#{{ object.dropdown_id }}").val($(this).text());
    });

    // This is only runs once on page load. It is only here to provide a default option
    // of local pcap storage for sensor storage type
    $("#{{ object.default_option | replace(' ','_') }}").click();
    {% endif %}

    // The below jinja2 filter takes all of the dropdown options and replaces
    // any spaces with underscores. In this way, we can use the resulting values
    // as IDs to identify the buttons. Each of these can react differently based
    // on which dropdown button was pressed.
    {% for option in ( object.options | map('replace', ' ', '_') ) %}
    $("#{{ option }}").click(function(event){

      // These lines of code change the dropdown menu's selector to reflect the
      // option chosen. In this case, we are selecting the first child of the
      // DOM object who holds the ID {{ object.dropdown_id }}
      $("#{{ object.dropdown_id }}:first-child").text($(this).text());
      $("#{{ object.dropdown_id }}").val($(this).text());
    });
    {% endfor %}
  });
</script>

<form id='{{ object.form_name }}' role=form class="needs-validation" novalidate>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <a href="{{ url_for('help') + '#anchor_' + object.label | replace(' ','_') }}" target="_blank"><span class="input-group-text">{{ object.label }}</span></a>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="{{ object.dropdown_id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ object.dropdown_text }}
    </button>
    <div class="dropdown-menu" aria-labelledby="{{ object.dropdown_id }}">
      {% for option in object.options %}
      <button class="dropdown-item" type=button id="{{ option | replace(' ','_') }}">{{ option }}</button>
      {% endfor %}
    </div>
  </div>
</div>
</form>
