<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% with navbar_elements = form.navbar_elements
      , current_page = 'help' %}
{% include "navbar.html" %}
{% endwith %}
{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">TFPlenum Help</h1>
  <p class="lead">We're really trying to make this easier!</p>
</div>
<h2>Host Settings</h2>
{% for setting in form.host_settings %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endfor %}
<h2>General Settings</h2>
{% for setting in form.general_settings %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endfor %}
<h2>Sensor Settings</h2>
<h3>Moloch Settings</h3>
{% for setting in form.moloch_settings %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endfor %}
{% endblock %}
