<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% with navbar_elements = form.navbar_elements
      , current_page = 'help' %}
{% include "navbar.html" %}
{% endwith %}
{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">TFPlenum Help</h1>
  <p class="lead">We're really trying to make this easier!</p>
</div>
<h2>{{ form.what_is_ceph['label'] }}</h2>
{{ form.what_is_ceph['description'] }}
<br><br>
<h2>Common Settings</h2>
{% for setting in form.common_settings %}
{% if setting.description is not none %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endif %}
{% endfor %}
<h2>Server Settings</h2>
{% for setting in form.server_settings %}
{% if setting.description is not none %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endif %}
{% endfor %}
<h3>Elasticsearch Settings</h3>
{% for setting in form.elasticsearch_settings %}
{% if setting.description is not none %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endif %}
{% endfor %}
<h2>Sensor Settings</h2>
{% for setting in (form.sensor_settings + form.sensor_host_settings) %}
{% if setting.description is not none %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endif %}
{% endfor %}
<h3>Moloch Settings</h3>
{% for setting in (form.moloch_settings + form.moloch_advanced_settings) %}
{% if setting.description is not none %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endif %}
{% endfor %}
<h3>Kafka Settings</h3>
{% for setting in form.kafka_settings %}
{% if setting.description is not none %}
<dl class="row">
  <dt class="col-sm-3">{{ setting.label }}<a name="{{ 'anchor_' + setting.label | replace(' ','_') }}"></a></dt>
  <dd class="col-sm-9">{{ setting.description }}</dd>
</dl>
{% endif %}
{% endfor %}
{% endblock %}
