<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
{% block javascript %}
<script type="text/javascript">
    {% include "foozandfuncs.js" %}
</script>
{% endblock %}
<div class="jumbotron">
  <h1>Inventory Configurator</h1>
  <p class="lead">We're really trying to make this easier!</p>
</div>
<h2>Kit Layout</h2>
<form id='form_servers' action="/" method="post" role=form class="needs-validation" novalidate>
  {% with button_field_id = form.number_of_servers.field_id
        , button_id = form.number_of_servers.button_id
        , button_label = form.number_of_servers.label
        , button_text = form.number_of_servers.button_text
        , button_placeholder = form.number_of_servers.placeholder
        , button_field_type = form.number_of_servers.input_type
        , button_constraint = form.number_of_servers.html5_constraint
        , button_required = form.number_of_servers.required
        , button_invalid_feedback = form.number_of_servers.invalid_feedback
        , button_valid_feedback = form.number_of_servers.valid_feedback %}
    {% include "button.html" %}
  {% endwith %}
</form>
<form id='form_sensors' action="/" method="post" role=form class="needs-validation" novalidate>
  {% with button_field_id = form.number_of_sensors.field_id
        , button_id = form.number_of_sensors.button_id
        , button_label = form.number_of_sensors.label
        , button_text=form.number_of_sensors.button_text
        , button_placeholder = form.number_of_sensors.placeholder
        , button_field_type = form.number_of_sensors.input_type
        , button_constraint = form.number_of_sensors.html5_constraint
        , button_required = form.number_of_sensors.required
        , button_invalid_feedback = form.number_of_sensors.invalid_feedback
        , button_valid_feedback = form.number_of_servers.valid_feedback %}
    {% include "button.html" %}
  {% endwith %}
</form>
<hr>
<h2>General Settings</h2>
<form id='form_general_settings' action="/" method="post" role=form class="needs-validation" novalidate>
  <p>
    {% with text_input_field = form.dns_ip.label
          , text_input_description = form.dns_ip.description
          , text_input_placeholder = form.dns_ip.placeholder %}
      {% include "text_input.html" %}
    {% endwith %}
  </p>
  <p><button class="btn btn-primary" type="submit">Generate Inventory</button></p>
  <hr>
  <h2>Server Settings</h2>
  <hr>
  <h2>Sensor Settings</h2>
  <div id=sensor></div>
  <hr>
</form>

{% endblock %}
