<!-- index.html-->

<!-- jquery selector list https://www.w3schools.com/Jquery/jquery_selectors.asp -->
<!-- ID SELECTOR: $("#test") -->
<!-- CLASS SELECTOR $(".test")  -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!--<script type=text/javascript src="{{ url_for('static', filename='foozandfuncs/foozandfuncs.js') }}"></script>-->
{% block javascript %}
<script type="text/javascript">
    {% include "foozandfuncs.js" %}
</script>
{% endblock %}
<div class="jumbotron">
  <h1>Inventory Configurator</h1>
  <p class="lead">We're really trying to make this easier!</p>
</div>
<form action="/" method="post" role=form>
  {{ form.hidden_tag() }}
  <h2>Kit Layout</h2>
    {% with button_id=form.number_of_sensors_id, button_form_pointer=form.number_of_sensors, button_label=form.number_of_sensors_label, button_text=form.number_of_sensors_button_text %}
      {% include "button.html" %}
    {% endwith %}
    {% for error in form.number_of_sensors.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
  <hr>
  <h2>General Settings</h2>
  <p>
    {% with text_input_name=form.dns_ip, text_input_field=form.dns_ip_label, text_input_description=form.dns_ip.description %}
      {% include "text_input.html" %}
    {% endwith %}
    {% for error in form.dns_ip.errors %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    {% endfor %}
  </p>
  <p><button class="btn btn-primary" type="submit">Generate Inventory</button></p>
  <hr>
  <h2>Server Settings</h2>
  <hr>
  <h2>Sensor Settings</h2>
  <div id=sensor></div>
  <hr>
</form>

{% endblock %}
