<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% with navbar_elements = form.navbar_elements
      , current_page = 'kit_configuration' %}
{% include "navbar.html" %}
{% endwith %}
{% endblock %}
{% block body %}
<!-- This disables the enter key. We want this because we don't want the user
     to accidentally hit enter which would reset the entire form. -->
<script>
  $(document).keypress(
    function(event){
      if (event.which == '13') {
        event.preventDefault();
      }
    });

  function recalculateRecommendations() {
    current_total_cpus = data.cpus_available + parseInt($( "#system_cpus_available" ).text());
    current_total_memory = data.memory_available + parseFloat($( "#system_memory_available" ).text());
    current_total_clustered_storage = parseFloat($( "#system_clustered_storage_available" ).text());
    current_total_server_cpus = parseInt($( "#server_cpus_available" ).text());
  }
</script>
<div class="jumbotron">
  <h1 class="display-4">TFPlenum Kit Configuration</h1>
  <p class="lead">We're really trying to make this easier!</p>
</div>
<h2>Common Settings</h2>
{% with form = form.common_settings %}
  {% include "card.html" %}
{% endwith %}
<br>
<h2>Total System Resources</h2>
<div class="card">
  <div class="card-header">
    Total System Resources
  </div>
  <div class="card-body">
    <p class="card-text">CPU Cores Available: <span id="system_cpus_available">0</span></p>
    <p class="card-text">Memory Available: <span id="system_memory_available">0</span> GB</p>
    <p class="card-text">Clustered Storage Available: <span id="system_clustered_storage_available">0</span> GB</p>
    <p class="card-text">Total Ceph Drives: <span id="system_total_ceph_drives">0</span></p>
  </div>
</div>
<br>
<h2>Server Settings</h2>
{% with form = form.elasticsearch_settings, card_title = "Elasticsearch Settings" %}
  {% include "card.html" %}
{% endwith %}
<br>
{% with form = form.elasticsearch_advanced_settings, card_title = "Elasticsearch Advanced Settings" %}
  {% include "card.html" %}
{% endwith %}
<br>
{% with form = form.server_settings, card_title = "Server Host Settings" %}
  {% include "card.html" %}
{% endwith %}
<!-- This is extended by servers.html. It is not actually blank as it might seem.
     Check out foozandfuncs to see how this modification happens. You can search
     for the id server_accordion. -->
<div class="accordion" id="{{ [form.number_of_servers.form_name, 'accordion'] | join('_') }}"></div>
<br>
<br>
<h2>Sensor Settings</h2>
{% with form = form.moloch_settings, card_title = "Moloch Settings" %}
  {% include "card.html" %}
{% endwith %}
<br>
{% with form = form.moloch_advanced_settings, card_title = "Advanced Moloch Settings" %}
  {% include "card.html" %}
{% endwith %}
<br>
<div class="card" >
  <div class="card-body">
    <h4 class="card-title">Kafka Settings</h4>
    <p class="card-text text-danger">
      Unless you really know what you are doing here, you should use the recommended values.
    </p>
    {% for option in form.kafka_settings %}
      {% if option.include_html is defined %}
        {% with object = option %}
          {% include option.include_html %}
        {% endwith %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<br>
<h3>Host Settings</h3>
{% with form = form.sensor_settings, card_title = "Sensor Host Settings" %}
  {% include "card.html" %}
{% endwith %}
<div class="accordion" id="{{ [form.number_of_sensors.form_name, 'accordion'] | join('_') }}"></div>
<br>
<h3>Advanced System Settings</h3>
<div class="card" >
  <div class="card-body">
    <p class="card-text text-danger">
      Unless you really know what you are doing here, you should not change these. Seriously, there's basically no reason to change this DNS address unless you're an ultra-power user.
    </p>
    {% for option in form.advanced_settings %}
      {% if option.include_html is defined %}
        {% with object = option %}
          {% include option.include_html %}
        {% endwith %}
      {% endif %}
    {% endfor %}
  </div>
</div>
<br>
<p><button id="generate_inventory" class="btn btn-primary" type="submit">Generate Inventory</button></p>
{% endblock %}
