<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% with navbar_elements = form.navbar_elements
      , current_page = 'kit_configuration' %}
{% include "navbar.html" %}
{% endwith %}
{% endblock %}
{% block body %}

<script>

$(document).ready(function(){

  // This causes the advanced settings to start as hidden
  $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' }}").hide();

  // This starts the Moloch PCAP size setting as hidden
  $( "#ceph_for_pcap_selected" ).hide();

  // This causes the main form before Moloch settings to start as hidden.
  $( "#main_form").hide();

  // This field should start disabled regardless of choice
  $( "#{{ form.moloch_pcap_pv.field_id }}").prop( "disabled", true );

  var advanced_settings_enabled = false;
  var clustered_storage_validated = false;
  var elasticsearch_validated = false;
  var ceph_drives_validated = false;
  var monitor_interfaces_validated = false;

  get_advanced_settings_status = function() {
    return advanced_settings_enabled;
  }

  // This runs as the form is loaded because these fields should start disabled
  if ( !$('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {
    $( "#{{ form.elastic_cpus.field_id }}" ).prop( "disabled", true );
    $( "#{{ form.elastic_memory.field_id }}" ).prop( "disabled", true );
    $( "#{{ form.elastic_pv_size.field_id }}" ).prop( "disabled", true );
    $( "#{{ form.elastic_masters.field_id }}" ).prop( "disabled", true );
    $( "#{{ form.elastic_datas.field_id }}" ).prop( "disabled", true );
  }

  // This handles disabling fields if autocalculate is disabled. Specifically,
  // all the percentage fields must be disabled.
  $("#{{ form.disable_autocalculate.checkbox_id }}").change(event, function() {

    // We only need to check one of the elements since they are all kept in sync
    if ( !$('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {
      $( "#{{ form.elastic_resource_percentage.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_storage_percentage.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.moloch_pcap_storage_percentage.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_cpus_per_instance_ideal.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_cpus_to_mem_ratio.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_cpus.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_memory.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_pv_size.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_masters.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_datas.field_id }}" ).prop( "disabled", true );

      // If they are using clustered storage, this should be included in calculations
      if( $("#{{ form.sensor_storage_type.dropdown_id }}:first-child").text() == "{{ form.sensor_storage_type.options[0] }}") {
        $( "#{{ form.moloch_pcap_pv.field_id }}").prop( "disabled", true );
      }

      // This causes a recalculation as soon as the algorithm is re-enabled
      recalculate_storage_recommendation();
      recalculate_elasticsearch_recommendations();
    } else {
      $( "#{{ form.elastic_resource_percentage.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_storage_percentage.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.moloch_pcap_storage_percentage.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_cpus_per_instance_ideal.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_cpus_to_mem_ratio.field_id }}" ).prop( "disabled", true );
      $( "#{{ form.elastic_cpus.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_memory.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_pv_size.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_masters.field_id }}" ).prop( "disabled", false );
      $( "#{{ form.elastic_datas.field_id }}" ).prop( "disabled", false );

      // If they are using clustered storage, this should be included in calculations
      if( $("#{{ form.sensor_storage_type.dropdown_id }}:first-child").text() == "{{ form.sensor_storage_type.options[0] }}") {
        $( "#{{ form.moloch_pcap_pv.field_id }}").prop( "disabled", false );
      }
    }

  })

  // This function is used when someone disables the autocalculate and enters
  // Elasticsearch information manually instead
  validate_manual_entries = function(){

    var number_of_masters = parseInt($( "#{{ form.elastic_masters.field_id }}" ).val());
    var number_of_datas = parseInt($( "#{{ form.elastic_datas.field_id }}" ).val());

    var total_instances = number_of_masters + number_of_datas;

    var memory_required = total_instances * parseInt($( "#{{ form.elastic_memory.field_id }}").val());
    var cpus_required = total_instances * parseInt($( "#{{ form.elastic_cpus.field_id }}").val());
    var storage_required = total_instances * parseInt($( "#{{ form.elastic_pv_size.field_id }}").val()) + parseInt($( "#{{ form.elastic_pv_size.field_id }}").val()) + (parseInt($( "#{{ form.zookeeper_pv_size.field_id }}").val()) * parseInt($( "#{{ form.zookeeper_replicas.field_id }}").val()));

    var current_storage_total = parseFloat($( "#system_clustered_storage_available" ).text());

    // Add Moloch if they are using Ceph storage
    if( $("#{{ form.sensor_storage_type.dropdown_id }}:first-child").text() == "{{ form.sensor_storage_type.options[0] }}") {
      storage_required += parseInt($( "#{{ form.moloch_pcap_pv.field_id }}").val());
    }

    // Validate the storage requirements
    if( storage_required > current_storage_total ) {
      $( "#system_clustered_storage_committed" ).parent().removeClass( "text-success" );
      $( "#system_clustered_storage_committed" ).parent().addClass( "text-danger" );
      $( "#system_clustered_storage_committed_errors" ).replaceWith('<span id="system_clustered_storage_committed_errors"> - Error: Insufficient storage space available on system.</span>');

      clustered_storage_validated = false;
    } else {

      $( "#system_clustered_storage_committed" ).parent().removeClass( "text-danger" );
      $( "#system_clustered_storage_committed" ).parent().addClass( "text-success" );
      $( "#system_clustered_storage_committed_errors" ).replaceWith('<span id="system_clustered_storage_committed_errors"> - Looks good!</span>');

      clustered_storage_validated = true;
      validate_all();
    }

    server_cpus_available = parseInt($( "#server_cpus_available" ).text());
    server_memory_available = parseInt($( "#server_memory_available" ).text());

    parseInt($( "#{{ form.elastic_cpus_per_instance_ideal.field_id }}" ).val());

    if( !isNaN(server_cpus_available) && !isNaN(server_memory_available) ) {
      $( "#elasticsearch_cpus" ).replaceWith('<span id="elasticsearch_cpus">' + cpus_required + '</span>');
      $( "#elasticsearch_memory" ).replaceWith('<span id="elasticsearch_memory">' + memory_required + '</span>')

      if(server_cpus_available < cpus_required) {
        $( "#elasticsearch_cpus_errors" ).parent().removeClass( "text-success text-warning" );
        $( "#elasticsearch_cpus_errors" ).parent().addClass( "text-danger" );
        $( "#elasticsearch_cpus_errors" ).replaceWith('<span id="elasticsearch_cpus_errors"> - Error: Insufficient CPUs to support the selected value.</span>');
        set_elasticsearch_validation(false);
        validate_all();
      } else if (server_cpus_available == cpus_required) {
        $( "#elasticsearch_cpus_errors" ).parent().removeClass( "text-success text-warning" );
        $( "#elasticsearch_cpus_errors" ).parent().addClass( "text-danger" );
        $( "#elasticsearch_cpus_errors" ).replaceWith('<span id="elasticsearch_cpus_errors"> - Error: You cannot use all available CPUs for Elasticsearch. Something has to be left for the system.</span>');
        set_elasticsearch_validation(false);
        validate_all();
      } else {
        $( "#elasticsearch_cpus_errors" ).parent().removeClass( "text-danger text-warning" );
        $( "#elasticsearch_cpus_errors" ).parent().addClass( "text-success" );
        $( "#elasticsearch_cpus_errors" ).replaceWith('<span id="elasticsearch_cpus_errors"> - Looks good!</span>');
        elasticsearch_validated = true;
        validate_all();
      }

      if(server_memory_available < memory_required) {
        $( "#elasticsearch_memory_errors" ).parent().removeClass( "text-success text-warning" );
        $( "#elasticsearch_memory_errors" ).parent().addClass( "text-danger" );
        $( "#elasticsearch_memory_errors" ).replaceWith('<span id="elasticsearch_cpus_errors"> - Error: Insufficient server memory available.</span>');
        set_elasticsearch_validation(false);
        validate_all();
      } else if (server_memory_available == memory_required) {
        $( "#elasticsearch_memory_errors" ).parent().removeClass( "text-success text-warning" );
        $( "#elasticsearch_memory_errors" ).parent().addClass( "text-danger" );
        $( "#elasticsearch_memory_errors" ).replaceWith('<span id="elasticsearch_cpus_errors"> - Error: You cannot use all memory available for Elasticsearch alone.</span>');
        set_elasticsearch_validation(false);
        validate_all();
      } else {
        $( "#elasticsearch_memory_errors" ).parent().removeClass( "text-danger text-warning" );
        $( "#elasticsearch_memory_errors" ).parent().addClass( "text-success" );
        $( "#elasticsearch_memory_errors" ).replaceWith('<span id="elasticsearch_memory_errors"> - Looks good!</span>');
        elasticsearch_validated = true;
        validate_all();
      }

    } else {
      elasticsearch_validated = false;
      validate_all();
    }

  }

  // Returns true if there is enough storage available and false otherwise
  validate_clustered_storage_committed = function() {

    var current_storage_total = parseFloat($( "#system_clustered_storage_available" ).text());
    var current_storage_requested = parseFloat($( "#system_clustered_storage_committed" ).text());

    if( current_storage_requested > current_storage_total ) {

      // If for whatever reason the inventory was ready to be generated, disable
      // the generate inventory button.
      if( !$( "#generate_inventory" ).is(':disabled') ) {
        $( "#generate_inventory" ).prop( "disabled", true );
      }

      // These repeated three lines redraw the text with either error or success
      // messages. We use the parent method in this case, otherwise it would just
      // color the number and the error message
      $( "#system_clustered_storage_committed" ).parent().removeClass( "text-success" );
      $( "#system_clustered_storage_committed" ).parent().addClass( "text-danger" );
      $( "#system_clustered_storage_committed_errors" ).replaceWith('<span id="system_clustered_storage_committed_errors"> - Error: Insufficient storage space available on system.</span>');

      clustered_storage_validated = false;
    } else {

      $( "#system_clustered_storage_committed" ).parent().removeClass( "text-danger" );
      $( "#system_clustered_storage_committed" ).parent().addClass( "text-success" );
      $( "#system_clustered_storage_committed_errors" ).replaceWith('<span id="system_clustered_storage_committed_errors"> - Looks good!</span>');

      clustered_storage_validated = true;
      validate_all();
    }

  }

  // This is for recomputing the amount of storage used by Elasticsearch, Moloch, Kafka, and Zookeeper
  recalculate_storage_recommendation = function () {

    var elastic_storage_percentage = parseInt($( "#{{ form.elastic_storage_percentage.field_id }}").val()) / 100

    // This basically amounts to total_storage * elastic_storage_percentage / #_instances
    // toFixed keeps it from exceeding two decimal places
    var elastic_storage_size = (parseFloat($( "#system_clustered_storage_available" ).text()) * elastic_storage_percentage) / (parseInt( $( "#{{ form.elastic_masters.field_id }}").val() ) + parseInt( $( "#{{ form.elastic_datas.field_id }}").val() ));
    $( "#{{ form.elastic_pv_size.field_id }}" ).val(elastic_storage_size);
    $( "#elastic_storage_available" ).replaceWith('<span id="elastic_storage_available">' + elastic_storage_size.toFixed(2) + '</span>');

    var total_committed = elastic_storage_size;

    // The condition prevents Moloch PCAP storage from being computed if the user
    // did not select Ceph for PCAP
    if( $("#{{ form.sensor_storage_type.dropdown_id }}:first-child").text() == "{{ form.sensor_storage_type.options[0] }}") {
      var moloch_pcap_storage_percentage = parseInt($( "#{{ form.moloch_pcap_storage_percentage.field_id }}").val()) / 100

      var moloch_pcap_storage_size = parseFloat($( "#system_clustered_storage_available" ).text()) * moloch_pcap_storage_percentage;
      $( "#{{ form.moloch_pcap_pv.field_id }}" ).val(moloch_pcap_storage_size);
      $( "#moloch_pcap_storage_available" ).replaceWith('<span id="moloch_pcap_storage_available">' + moloch_pcap_storage_size.toFixed(2) + '</span>');

      total_committed = moloch_pcap_storage_size + elastic_storage_size;
    }

    total_committed += parseInt($( "#{{ form.kafka_pv_size.field_id }}").val()) + (parseInt($( "#{{ form.zookeeper_pv_size.field_id }}").val()) * parseInt($( "#{{ form.zookeeper_replicas.field_id }}").val()));

    $( "#system_clustered_storage_committed" ).replaceWith('<span id="system_clustered_storage_committed">' + total_committed.toFixed(2) + '</span>');

    validate_clustered_storage_committed();
  }

  validate_ceph_drive_count = function () {

    number_of_ceph_drives = parseInt($( "#system_total_ceph_drives" ).text());

    if(number_of_ceph_drives < 2) {
      $( "#system_total_ceph_drives_errors" ).parent().removeClass( "text-success" );
      $( "#system_total_ceph_drives_errors" ).parent().addClass( "text-danger" );
      $( "#system_total_ceph_drives_errors" ).replaceWith('<span id="system_total_ceph_drives_errors"> - Error: You need at least two drives in the Ceph cluster!</span>');

      // If for whatever reason the inventory was ready to be generated, disable
      // the generate inventory button.
      if( !$( "#generate_inventory" ).is(':disabled') ) {
        $( "#generate_inventory" ).prop( "disabled", true );
      }

      ceph_drives_validated = false;
    } else {
      $( "#system_total_ceph_drives_errors" ).parent().removeClass( "text-danger text-warning" );
      $( "#system_total_ceph_drives_errors" ).parent().addClass( "text-success" );
      $( "#system_total_ceph_drives_errors" ).replaceWith('<span id="system_total_ceph_drives_errors"> - Looks good!</span>');

      ceph_drives_validated = true;
      validate_all();
    }

  }

  // Define this as a blank function. It will actually be defined when server.html
  // gets loaded
  recalculate_elasticsearch_recommendations = function() {};

  // This function is just so elements outside this page can set the value of elasticsearch
  // validation
  set_elasticsearch_validation = function(value) {
    elasticsearch_validated = value;
  }

  set_monitor_interface_validation = function(value) {
    monitor_interfaces_validated = value;
  }

  // This function runs all validations to ensure
  validate_all = function () {

    //console.log(clustered_storage_validated + ' ' + ceph_drives_validated + ' ' + elasticsearch_validated);

    if( clustered_storage_validated && ceph_drives_validated && elasticsearch_validated && monitor_interfaces_validated) {

      // If for whatever reason the inventory was ready to be generated, disable
      // the generate inventory button.
      if( $( "#generate_inventory" ).is(':disabled') ) {
        $( "#generate_inventory" ).prop( "disabled", false );
      }

    }
  }

  // This function validates storage requirements as the user is typing
  {% for field in [form.elastic_storage_percentage.field_id, form.moloch_pcap_storage_percentage.field_id, form.kafka_pv_size.field_id, form.zookeeper_pv_size.field_id] %}
  $('#{{ field }}').keyup(function (event) {
    // Only do this if autocalculate is enabled
    if ( !$( '#{{ form.disable_autocalculate.checkbox_id }}' ).is(":checked") ) {
      recalculate_storage_recommendation();
    }
  });
  {% endfor %}

{% for field in [form.elastic_resource_percentage.field_id, form.elastic_cpus_per_instance_ideal.field_id, form.elastic_cpus_to_mem_ratio.field_id] %}
  $('#{{ field }}').keyup(function (event) {
    // Only do this if autocalculate is enabled
    if ( !$( '#{{ form.disable_autocalculate.checkbox_id }}' ).is(":checked") ) {
      recalculate_elasticsearch_recommendations();
    }
  });
{% endfor %}

// This causes the manual server resource validation to fire
{% for field in [form.elastic_masters.field_id, form.elastic_datas.field_id, form.elastic_memory.field_id, form.elastic_pv_size.field_id, form.moloch_pcap_pv.field_id] %}
  $('#{{ field }}').keyup(function (event) {
    // Only do this if autocalculate is enabled
    if ( $( '#{{ form.disable_autocalculate.checkbox_id }}' ).is(":checked") ) {
      validate_manual_entries();
    }
  });
{% endfor %}

  // The purpose of the below is to disable or enable the Moloch PCAP folder field
  // based on whether local PCAP storage is or is not selected.
  // TODO: This is not currently in use. We need to readd the ability to use
  // just a folder and not a drive.
  /*
  $( "#{{ form.sensor_storage_type.options[0] | replace(' ','_') }}" ).click(function(event){
    $( "#{{ form.moloch_pcap_folder.field_id }}" ).prop( "disabled", true );
  });
  $( "#{{ form.sensor_storage_type.options[1] | replace(' ','_') }}" ).click(function(event){
    $( "#{{ form.moloch_pcap_folder.field_id }}" ).prop( "disabled", false );
  });*/

  // This handles the case when a user clicks continue in the modal dialog box
  // that pops up after selecting your storage type
  $( "#{{ form.submit_sensor_storage_type_modal.button_id_primary }}" ).click(function(event){
    $( "#main_form").slideDown("slow");;

    // This shows the Moloch PCAP storage percentage only if Ceph storage was selected
    if( $("#{{ form.sensor_storage_type.dropdown_id }}:first-child").text() == "{{ form.sensor_storage_type.options[0] }}") {
      $( "#ceph_for_pcap_selected" ).show();

      // We should update the defaults if they select Ceph for PCAP
      $( "#{{ form.elastic_storage_percentage.field_id }}" ).val('30');
      $( "#{{ form.moloch_pcap_storage_percentage.field_id }}" ).val('60');

    }

    // This hides the modal box. If you don't have this, the modal box stays on
    // the screen
    $( "#{{ form.submit_sensor_storage_type_modal.modal_id }}" ).modal('hide');
    $( "#{{ form.sensor_storage_type.dropdown_id }}").prop( "disabled", true );
    $( "#{{ form.submit_sensor_storage_type.generic_button_id }}" ).prop( "disabled", true );

    // This updates the total storage committed field with whatever starts in Zookeeper
    // and Kafka PVs
    //total_committed = parseInt($( "#{{ form.kafka_pv_size.field_id }}").val()) + (parseInt($( "#{{ form.zookeeper_pv_size.field_id }}").val()) * parseInt($( "#{{ form.zookeeper_replicas.field_id }}").val()));

    //$( "#system_clustered_storage_committed" ).replaceWith('<span id="system_clustered_storage_committed">' + total_committed + '</span>');

    recalculate_storage_recommendation();
    validate_ceph_drive_count();
  });

  // This disables the enter key. You don't want the form to accidentally reset
  // if the user presses enter.
  $(document).keypress(
    function(event){
      // 13 corresponds to the enter key
      if (event.which == '13') {
        event.preventDefault();
      }
    });

    $( "#{{ form.advanced_settings_button.generic_button_id }}" ).click(function (event) {
      if( !advanced_settings_enabled ){
        $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' }}" ).show()
        advanced_settings_enabled = true;
      } else {
        $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' }}" ).hide()
        advanced_settings_enabled = false;
      }
    });

});

</script>

<div class="jumbotron">
  <h1 class="display-4">TFPlenum Kit Configuration</h1>
  <p class="lead">We're really trying to make this easier!</p>
</div>
<div class="card" >
  <div class="card-body">
    <h4 class="card-title">Select Storage Type</h4>
    <p class="card-text text-danger">
    </p>
    {% for option in form.storage_type_settings %}
      {% if option.include_html is defined %}
        {% with object = option %}
          {% include option.include_html %}
        {% endwith %}
      {% endif %}
    {% endfor %}
    <p><button id="{{ form.submit_sensor_storage_type.generic_button_id }}" class="btn btn-primary" type="button" data-toggle="modal" data-target="#{{ form.submit_sensor_storage_type_modal.modal_id }}">{{ form.submit_sensor_storage_type.label }}</button></p>
    <p>	Click the label {{ form.sensor_storage_type.label }} for a description of what the field does!</p>
    <a href="{{ url_for('help') + '#anchor_' + form.help_me_decide['label'] | replace(' ','_') }}" target="_blank">
      <label>{{ form.help_me_decide['label'] }}</label>
    </a>
    {% with object = form.submit_sensor_storage_type_modal %}
      {% include "modal_button.html" %}
    {% endwith %}
  </div>
</div>
<br>
<div id="main_form">
  <div class="card" id="direct_to_disk_selected">
    <div class="card-body">
      <h4 class="card-title">Global Settings</h4>
      <p class="card-text">
        Dependent on your resources, these are generally sane defaults if you don't know what you are doing and just want to get started. Unlike the storage settings, you can always come back and adjust them if you change your mind. The only field you *have* to fill out is {{ form.kubernetes_services_cidr.label }}.
      </p>
      <hr>
      <br>
      <h5>Elasticsearch Settings</h5>
      {% with object = form.elastic_resource_percentage %}
        {% include "text_input.html" %}
      {% endwith %}
      <p class="text-info">Note: Elasticsearch only runs on servers. It will not run on sensors. The percentage above is therefore only applicable to server resources - not sensor.</p>
      {% with object = form.elastic_storage_percentage %}
        {% include "text_input.html" %}
      {% endwith %}
      <p>Storage Assigned to Elasticsearch (GBs): <span id="elastic_storage_available">0</span></p>
      <p class="text-info">Note: The amount of storage assigned to Elasticsearch will update as you discover your hosts below. It will start at 0.</p>
      <div id="ceph_for_pcap_selected">
        <br>
        <h5>Moloch PCAP Storage Percentage</h5>
        {% with object = form.moloch_pcap_storage_percentage %}
          {% include "text_input.html" %}
        {% endwith %}
        <p>Storage Assigned to Moloch PCAP (GBs): <span id="moloch_pcap_storage_available">0</span></p>
        <p class="text-info">Note: The amount of storage assigned to Moloch will update as you discover your hosts below. It will start at 0.</p>
      </div>
      <br>
      <h5>Kubernetes Settings</h5>
      {% for option in form.common_settings %}
        {% if option.include_html is defined %}
          {% with object = option %}
            {% include option.include_html %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header">
      Total System Resources
    </div>
    <div class="card-body">
      <p class="card-text">Heads Up: These values will autopopulate after you enter your server/sensor information below.</p>
      <hr>
      <p class="card-text">CPU Cores Available: <span id="system_cpus_available">0</span></p>
      <p class="card-text">Memory Available: <span id="system_memory_available">0</span> GB  <span id="system_memory_available_errors"></span></p>
      <p class="card-text">Clustered Storage Total: <span id="system_clustered_storage_available">0</span> GB</p>
      <p class="card-text">Clustered Storage Committed: <span id="system_clustered_storage_committed">0</span> GB  <span id="system_clustered_storage_committed_errors"></span></p>
      <p class="text-info">Note: Clustered Storage Committed includes requirements from Zookeeper/Kafka</p>
      <p class="card-text">Total Ceph Drives: <span id="system_total_ceph_drives">0</span>  <span id="system_total_ceph_drives_errors"></span></p>
    </div>
  </div>
  <br>
  {% with form = form.server_settings, card_title = "Server Host Settings" %}
    {% include "card.html" %}
  {% endwith %}
  <!-- This is extended by servers.html. It is not actually blank as it might seem.
       Check out foozandfuncs to see how this modification happens. You can search
       for the id server_accordion. -->
  <div class="accordion" id="{{ [form.number_of_servers.form_name, 'accordion'] | join('_') }}"></div>
  <br>
  {% with form = form.sensor_settings, card_title = "Sensor Host Settings" %}
    {% include "card.html" %}
  {% endwith %}
  <div class="accordion" id="{{ [form.number_of_sensors.form_name, 'accordion'] | join('_') }}"></div>
  <br>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <p><button id="generate_inventory" class="btn btn-primary" type="submit" disabled>Generate Inventory</button></p>
      </div>
      <div class="form-group col-md-6">
        <p><button id="{{ form.advanced_settings_button.generic_button_id }}" class="btn btn-primary" type="button">{{ form.advanced_settings_button.label }}</button></p>
      </div>
    </div>
  </form>
  <hr>
  <div class="{{ form.advanced_settings_button.generic_button_id + 'div_element' }}">
    <h3>Advanced System Settings</h3>
    <p class='font-weight-light'>{{ form.advanced_system_settings_text }}</p>
    <div class="card">
      <div class="card-body">
        <p class="card-text text-danger">
          Unless you really know what you are doing here, you should not change the DNS. Seriously, there's only an incredibly niche case for changing this and chances are you aren't in it.
        </p>
        {% for option in form.advanced_system_settings %}
          {% if option.include_html is defined %}
            {% with object = option %}
              {% include option.include_html %}
            {% endwith %}
          {% endif %}
        {% endfor %}
        <form id='#{{ form.disable_autocalculate.form_name }}' role=form>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="{{ form.disable_autocalculate.checkbox_id }}" {{ 'disabled' if form.disable_autocalculate.disabled }}>
          <label class="form-check-label" for="{{ form.disable_autocalculate.checkbox_id }}">
            {{ form.disable_autocalculate.label }}
          </label>
        </div>
        <a href="{{ url_for('help') + '#anchor_' + form.disable_autocalculate.label | replace(' ','_') }}" target="_blank">
          <label>What is this?</label>
        </a>
        </form>
      </div>
    </div>
    <br>
    {% with form = form.elasticsearch_advanced_settings, card_title = "Elasticsearch Advanced Settings" %}
      {% include "card.html" %}
    {% endwith %}
    <br>
    {% with form = form.moloch_advanced_settings, card_title = "Advanced Moloch Settings" %}
      {% include "card.html" %}
    {% endwith %}
    <br>
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title">Kafka Settings</h4>
        <p class="card-text text-danger">
          Unless you really know what you are doing here, you should use the recommended values.
        </p>
        {% for option in form.kafka_settings %}
          {% if option.include_html is defined %}
            {% with object = option %}
              {% include option.include_html %}
            {% endwith %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
