<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
{% with navbar_elements = form.navbar_elements
      , current_page = 'kit_configuration' %}
{% include "navbar.html" %}
{% endwith %}
{% endblock %}
{% block body %}
<!-- This disables the enter key. We want this because we don't want the user
     to accidentally hit enter which would reset the entire form. -->
<script>
  $(document).keypress(
    function(event){
      if (event.which == '13') {
        event.preventDefault();
      }
    });
</script>
<div class="jumbotron">
  <h1 class="display-4">TFPlenum Kit Configuration</h1>
  <p class="lead">We're really trying to make this easier!</p>
</div>
<h2>Common Settings</h2>
{% with object = form.dns_ip %}
  {% include "text_input.html" %}
{% endwith %}
<hr>
<h2>Total System Resources</h2>
<div class="card">
  <div class="card-header">
    Total System Resources
  </div>
  <div class="card-body">
    <p class="card-text">CPU Cores Available: <span id="system_cpus_available">0</span></p>
    <p class="card-text">Memory Available: <span id="system_memory_available">0</span> GB</p>
    <p class="card-text">Clustered Storage Available: <span id="system_clustered_storage_available">0</span> GB</p>
    <p class="card-text">Total Ceph Drives: <span id="system_total_ceph_drives">0</span></p>
  </div>
</div>
<hr>
<h2>Server Settings</h2>
<h3>Elasticsearch Settings</h3>
<h3>Host Settings</h3>
{% with object = form.number_of_servers %}
  {% include "button.html" %}
{% endwith %}
<!-- This is extended by servers.html. It is not actually blank as it might seem.
     Check out foozandfuncs to see how this modification happens. You can search
     for the id server_accordion. -->
<div class="accordion" id="{{ [form.number_of_servers.form_name, 'accordion'] | join('_') }}"></div>
<br>
<hr>
<h2>Sensor Settings</h2>
<h3>Moloch Settings</h3>
{% with object = form.sensor_storage_type %}
  {% include "dropdown.html" %}
{% endwith %}
{% with object = form.moloch_pcap_folder %}
  {% include "text_input.html" %}
{% endwith %}
<h4>Advanced Moloch Settings</h4>
<div class="alert alert-danger" role="alert">
Use these at your own risk!
</div>
{% with object = form.moloch_bpf %}
  {% include "text_input.html" %}
{% endwith %}
{% with object = form.moloch_dontSaveBPFs %}
  {% include "text_input.html" %}
{% endwith %}
<h3>Host Settings</h3>
{% with object = form.number_of_sensors %}
  {% include "button.html" %}
{% endwith %}
<div class="accordion" id="{{ [form.number_of_sensors.form_name, 'accordion'] | join('_') }}"></div>
<hr>
<p><button class="btn btn-primary" type="submit">Generate Inventory</button></p>
{% endblock %}
