
<!-- Modal -->
<div class="modal fade" id="{{ object.modal_id }}" tabindex="-1" role="dialog" aria-labelledby="{{ object.modal_label_id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ object.modal_label_id }}">{{ object.modal_title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ object.modal_text }}
      </div>
      <div class="modal-footer">
        {% if secondary_button_text is not none %}<button type="button" class="btn btn-secondary" {% if object.secondary_button_close %}data-dismiss="modal"{% endif %} id="{{ object.button_id_secondary }}">{{ object.secondary_button_text }}</button>{% endif %}
        <button type="button" class="btn btn-primary" id="{{ object.button_id_primary }}">{{ object.primary_button_text }}</button>
      </div>
    </div>
  </div>
</div>
