
<script>
// Adding this allows this code to be identified in a browser debugger
//@ sourceURL=ceph_disk_list

  $(document).ready(function(){

    get_ids();

    {% for disk in disks %}
    $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).on('click', function (event) {

      if($( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).hasClass( "active" )) {
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).removeClass( "active" );
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).html("{{ disk['name'] }}");
        set_id_value("{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}", false);
      } else {
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).addClass( "active" );
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).html("{{ disk['name'] + ' - selected'}}");
        set_id_value("{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}", true);
      }
    });
    {% endfor %}

  });
</script>

<div class="card" style="width: 20rem;">
  <div class="card-header">
    Select PCAP Drive
  </div>
  <div class="card-body">
    <p class="card-text">Select which drive you would like to use for PCAP storage.</p>
    <p class="card-text text-danger">Note: The operating system's drive will not appear here. If a drive has the root file system mounted to it, it is excluded. This means you may only have one drive listed.</p>
  </div>
  <div class="btn-group-vertical" role="group">
    {% if (disks | length) > 0 %}
    {% for disk in disks %}
    <button type="button" class="btn btn-primary" id="{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}">{{ disk['name'] }}</button>
    {% endfor %}
    {% else %}
    <div class="alert alert-danger" role="alert">
      No drives found! Are you sure you have a second eligible drive that does not have the root partition mounted?
    </div>
    {% endif %}
  </div>
</div>
<a href="{{ url_for('help') + '#anchor_' + form.use_as_pcap_storage.label | replace(' ','_') }}" target="_blank">
  <label>What is this?</label>
</a>
