
<script>
$(document).ready(function(){

  sensor_get_ids = function(){
    get_ids();
  }
  callbacks.add( sensor_get_ids );

  // The condition below is here to take care of the case that a user unlocks
  // the advanced settings before submitting a sensor count. In which case
  // we want all of the fields drawn. Furthermore, we also have to check if
  // they have or have not clicked the disable autocalculations button
  {% for i in range(sensor_count) %}
  if( !get_advanced_settings_status() ) {
    $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}").hide();
  }

  // We only need to check one of the elements since they are all kept in sync
  if ( $('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {
    $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
    $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
  } else {
    $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
    $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
  }
  {% endfor %}

  {% for i in range(sensor_count) %}
  $( "#{{ form.advanced_settings_button.generic_button_id }}" ).click(function (event) {
    if( get_advanced_settings_status()) {
      $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}").slideDown("slow");
    } else {
      $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}").hide();
    }
  });
  {% endfor %}

  $("#{{ form.disable_autocalculate.checkbox_id }}").change(event, function() {

    {% for i in range(sensor_count) %}
    // We only need to check one of the elements since they are all kept in sync
    if ( $('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {
      $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
      $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
    } else {
      $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
      $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
    }
    {% endfor %}
  });

  validate_interfaces = function() {
    if({% for i in range(sensor_count) %}{{ "monitor_interface_" + ((i+1) | string) + "_valid" }} &&{% endfor %} true) {
      set_monitor_interface_validation(true);
      validate_all();
    }
  }

  {% for i in range(sensor_count) %}

  {{ "monitor_interface_" + ((i+1) | string) + "_valid" }} = false;

  {{ form.monitor_interface.callback + "_" + ((i+1) | string) }} = function(event) {
    {{ "monitor_interface_" + ((i+1) | string) + "_valid" }} = true;
    validate_interfaces();
  }
  {% endfor %}

  {% for i in range(sensor_count) %}
  $("#{{ [form.is_remote_sensor_checkbox.checkbox_id, i+1] | join('_') }}").change(event, function() {

      if($( "#{{ [form.is_remote_sensor_checkbox.checkbox_id, i+1] | join('_') }}" ).is(":checked")){
        set_id_value("{{ [form.is_remote_sensor_checkbox.checkbox_id, i+1] | join('_') }}", true);
        set_id_value("{{ ('sensor_' + ((i+1) | string) + '_hostname' }}", attributes["is_remote"] = true)
      } else {
        set_id_value("{{ [form.is_remote_sensor_checkbox.checkbox_id, i+1] | join('_') }}", false);
        set_id_value("{{ ('sensor_' + ((i+1) | string) + '_hostname' }}", attributes["is_remote"] = false)
      }

  })
  {% endfor %}
});
</script>

<div class="card">
  <div class="card-header">
    Total Sensor Resources
  </div>
  <div class="card-body">
    <p class="card-text">CPU Cores Available: <span id="sensor_cpus_available">0</span></p>
    <p class="card-text">Memory Available: <span id="sensor_memory_available">0</span> GB</p>
    <p class="card-text">Clustered Storage Available: <span id="sensor_clustered_storage_available">0</span> GB</p>
  </div>
</div>
{# This loop goes from 0 to sensor_count #}
{% for i in range(sensor_count) %}
<div class="sensor_slide card">
  <div class="card-header" id="{{ ['sensor_accordion_header', i+1] | join('_') }}">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ ['sensor_collapse', i+1] | join('_') }}" aria-expanded="true" aria-controls="{{ ['sensor_collapse', i+1] | join('_') }}">
        Sensor {{ i + 1 }}<span id="sensor_{{ i + 1 }}_hostname"></span>
      </button>
    </h5>
  </div>
  <div id="{{ ['sensor_collapse', i+1] | join('_') }}" class="c-ollapse show" aria-labelledby="{{ ['sensor_accordion_header', i+1] | join('_') }}">
    <div class="card-body">
      <div class="card" style="width: 20rem;">
        <div class="card-header">
          Sensor {{ i + 1 }} Resources
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">CPU Cores Available: <span id="sensor_{{ i + 1}}_cpus_available">0</span></li>
          <li class="list-group-item">Memory Available: <span id="sensor_{{ i + 1 }}_memory_available">0</span> GB</li>
          <li class="list-group-item border-bottom">Total Drive Space Available: <span id="sensor_{{ i + 1 }}_disk_space_available">0</span> GB</li>
        </ul>
      </div>
      <br>
      {% with object = form.host_sensor.change_values(
        (['sensor_form', i+1] | join('_')),
         (form.host_sensor.field_id + '_' + ((i+1) | string)),
         (form.host_sensor.button_id + '_' + ((i+1) | string)),
         ('sensor_' + ((i+1) | string) + '_cpus_available'),
         ('sensor_' + ((i+1) | string) + '_memory_available'),
         ('sensor_' + ((i+1) | string) + '_disk_space_available'),
         ('sensor_' + ((i+1) | string) + '_hostname'),
         i+1,
         'sensor') %}
         {% include "button.html" %}
      {% endwith %}
      <br>
      <form id='{{ [form.is_remote_sensor_checkbox.form_name, i+1] | join('_') }}' role=form>
      <div class="form-check">
        <input class="form-check-input {{ form.is_remote_sensor_checkbox.css_class }}" type="checkbox" value="" id="{{ [form.is_remote_sensor_checkbox.checkbox_id, i+1] | join('_') }}">
        <label class="form-check-label" for="{{ [form.is_remote_sensor_checkbox.checkbox_id, i+1] | join('_') }}">
          {{ form.is_remote_sensor_checkbox.label }}
        </label>
      </div>
      <a href="{{ url_for('help') + '#anchor_' + form.is_remote_sensor_checkbox.label | replace(' ','_') }}" target="_blank">
        <label>What is this?</label>
      </a>
      </form>
      <br>
      <div class="{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}">
        <p class='font-weight-light'>{{ form.bro_workers.label }} and {{ form.moloch_threads.label }} are both advanced settings and will be autopopulated based on the resources available to the devices you input. You do not have to fill in these values.</p>
        {% with object = form.bro_workers.change_values(
          (['bro_workers_form', i+1] | join('_')),
           (form.bro_workers.field_id + '_' + ((i+1) | string))) %}
           {% include "text_input.html" %}
        {% endwith %}
        {% with object = form.moloch_threads.change_values(
          (['moloch_threads_form', i+1] | join('_')),
           (form.moloch_threads.field_id + '_' + ((i+1) | string))) %}
           {% include "text_input.html" %}
        {% endwith %}
        <br>
      </div>
      <form id='{{ [form.sensor_ceph_drive_list, i+1] | join('_') }}' role=form>
        <div id="{{ ['sensor_ceph_drive_list', i+1] | join('_') }}"></div>
      </form>
      <br>
      <div id="{{ [form.sensor_monitor_interface, i+1] | join('_') }}"></div>
    </div>
  </div>
</div>
{% endfor %}
