
<script>

  get_ids();

  // Adding this allows this code to be identified in a browser debugger
  //@ sourceURL=server.js
  $(document).ready(function(){

    server_get_ids = function(){
      get_ids();
    }
    callbacks.add( server_get_ids );

    // This performs validation of all entries if someone typed things in before
    // adding servers
    if ( $('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {
      validate_manual_entries();
    }

    // The event object generated here represents the input field of the checkbox
    // selected. target is the DOM element that initated the event. See: https://learn.jquery.com/events/event-basics/
    // The object in this case will be an HTMLInputElement. The parent class of this,
    // Element, has the attribute ID.
    {% for i in range(server_count) %}
    $("#{{ [form.server_is_master_server_checkbox.checkbox_id, i+1] | join('_') }}").change(event, function() {

      // This is used for generate inventory to actually track if a specific host
      // is or is not a master server
      if($( "#{{ [form.server_is_master_server_checkbox.checkbox_id, i+1] | join('_') }}" ).is(":checked")){
        set_host_value("{{ 'server_' + ((i+1) | string) + '_hostname' }}", "{{ form.server_is_master_server_checkbox.checkbox_id }}", true);
      } else {
        set_host_value("{{ 'server_' + ((i+1) | string) + '_hostname' }}", "{{ form.server_is_master_server_checkbox.checkbox_id }}", false);
      }

      set_id_value("#{{ [form.server_is_master_server_checkbox.checkbox_id, i+1] | join('_') }}", true);

      // This loops over each checkbox this ISN'T the checkbox that was clicked
      // and flips its disabled status to be the opposite of what it currently is.
      // This has the effect of only allowing one of the master server checkboxes
      // to be selected at any given time.
      $( ".{{ form.server_is_master_server_checkbox.css_class }}" ).not( "#" + event.target.id ).each(function() {
        // This checks to see if the checkbox is or is not already disabled
        // If it is, it flips it to be the opposite.
        // See: https://stackoverflow.com/questions/14913845/jquery-checking-for-disabled-attribute-and-adding-removing-it
        if($(this).is(':disabled')){
          $( "#" + this.id ).prop( "disabled", false );
        } else {
          $( "#" + this.id ).prop( "disabled", true );
        }

        set_id_value("#" + this.id, false);
      });

      set_master_server_validated(true);
      validate_all();
    })
    {% endfor %}

    {% include "elasticsearch_calculations.js" %}

  });
</script>

<div class="card">
  <div class="card-header">
    Total Server Resources
  </div>
  <div class="card-body">
    <p class="card-text">CPU Cores Available: <span id="server_cpus_available">0</span></p>
    <p class="card-text">CPUs Assigned to Elasticsearch: <span id="elasticsearch_cpus">0</span>  <span id="elasticsearch_cpus_errors"></span></p>
    <p class="card-text">CPUs Assigned to Logstash: <span id="logstash_cpus">0</span>  <span id="logstash_cpus_errors"></span></p>
    <p class="card-text">Memory Available: <span id="server_memory_available">0</span> GB</p>
    <p class="card-text">Memory Assigned to Elasticsearch: <span id="elasticsearch_memory">0</span> GBs  <span id="elasticsearch_memory_errors"></span></p>
    <p class="card-text">Clustered Storage Available: <span id="server_clustered_storage_available">0</span> GB</p>
  </div>
</div>
{# This loop goes from 0 to server_count #}
{% for i in range(server_count) %}
<div class="server_slide card">
  <div class="card-header" id="{{ ['server_accordion_header', i+1] | join('_') }}">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ ['server_collapse', i+1] | join('_') }}" aria-expanded="true" aria-controls="{{ ['server_collapse', i+1] | join('_') }}">
        Server {{ i + 1 }}<span id="server_{{ i + 1 }}_hostname"></span>
      </button>
    </h5>
  </div>
  <div id="{{ ['server_collapse', i+1] | join('_') }}" class="c-ollapse show" aria-labelledby="{{ ['server_accordion_header', i+1] | join('_') }}">
    <div class="card-body">
      <div class="card" style="width: 20rem;">
        <div class="card-header">
          Server {{ i + 1 }} Resources
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">CPU Cores Available: <span id="server_{{ i + 1}}_cpus_available">0</span></li>
          <li class="list-group-item">Memory Available: <span id="server_{{ i + 1 }}_memory_available">0</span> GB</li>
          <li class="list-group-item border-bottom">Total Drive Space Available: <span id="server_{{ i + 1 }}_disk_space_available">0</span> GB</li>
        </ul>
      </div>
      <br>
      {% with object = form.host_server.change_values(
        (['server_form', i+1] | join('_')),
         (form.host_server.field_id + '_' + ((i+1) | string)),
         (form.host_server.button_id + '_' + ((i+1) | string)),
         ('server_' + ((i+1) | string) + '_cpus_available'),
         ('server_' + ((i+1) | string) + '_memory_available'),
         ('server_' + ((i+1) | string) + '_disk_space_available'),
         ('server_' + ((i+1) | string) + '_hostname'),
         i+1,
         'server') %}
         {% include "button.html" %}
      {% endwith %}
      <form id='#{{ [form.server_is_master_server_checkbox.form_name, i+1] | join('_') }}' role=form>
      <div class="form-check">
        <input class="form-check-input {{ form.server_is_master_server_checkbox.css_class }}" type="checkbox" value="" id="{{ [form.server_is_master_server_checkbox.checkbox_id, i+1] | join('_') }}">
        <label class="form-check-label" for="{{ [form.server_is_master_server_checkbox.checkbox_id, i+1] | join('_') }}">
          {{ form.server_is_master_server_checkbox.label }}
        </label>
      </div>
      <a href="{{ url_for('help') + '#anchor_' + form.server_is_master_server_checkbox.label | replace(' ','_') }}" target="_blank">
        <label>What is this?</label>
      </a>
      </form>

      <br>

      <form id='{{ [form.server_ceph_drive_list, i+1] | join('_') }}' role=form>
        <div id="{{ ['server_ceph_drive_list', i+1] | join('_') }}"></div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
