<script type="text/javascript">
  $(document).ready(function(){
    // See: https://api.jquery.com/keyup/
    $('#{{ object.field_id }}').keyup(function (event) {
      // Using [0] here because when you use $( "#form_servers" ) you get a jQuery
      // selection set. To access the DOM properties you have to select the first
      // item. checkValidity is an HTML5 built in function we are calling against
      // the element.
      if ($( "#{{ object.form_name }}" )[0].checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      $( "#{{ object.form_name }}" ).addClass('was-validated');
    });
});
</script>

<form id='{{ object.form_name }}' role=form class="needs-validation" novalidate>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <a href="{{ url_for('help') + '#anchor_' + object.label | replace(' ','_') }}" target="_blank">
    <span class="input-group-text">{{ object.label }}</span>
    </a>
  </div>
  <input name="{{ object.field_id }}" id="{{ object.field_id }}" type="{{ object.input_type | default("text", true) }}" {{ object.html5_constraint if object.html5_constraint is not none }} class="form-control" placeholder="{{ object.placeholder }}" {{ 'required' if object.required is not none }} {{ 'value=' + object.default_value if object.default_value is not none }}>
  {% if object.valid_feedback is not none %}
    <div class="valid-feedback">
    {{ object.valid_feedback | default("Looks good!", true) }}
    </div>
  {% endif %}
  {% if object.invalid_feedback is not none %}
    <div class="invalid-feedback">
    {{ object.invalid_feedback | default("This field is required", true) }}
    </div>
  {% endif %}
</div>
</form>
