<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">{{ text_input_field }}</span>
  </div>
  <!--<input name={{ text_input_name }} type="text" class="form-control" placeholder="{{ text_input_placeholder }}"
  aria-label="Default" aria-describedby="inputGroup-sizing-default"> -->
  {{ text_input_name(class="form-control") }}
</div>
{% if text_input_description is defined %}
<p>
  <small class="form-text text-muted">
    {{ text_input_description }}<br>
  </small>
</p>
{% endif %}
