<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="#">TFPlenum Configurator Beta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% for text,url in navbar_elements.iteritems() %}
      {% if current_page|string() == url|string() %}
        <a class="nav-link active" href="{{ url_for(url) }}">{{ text }}<span class="sr-only">(current)</span></a>
      {% else %}
        <a class="nav-item nav-link" href="{{ url_for(url) }}">{{ text }}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
