<script>

  get_ids();

  // Adding this allows this code to be identified in a browser debugger
  //@ sourceURL=node.js
  $(document).ready(function(){

    node_get_ids = function(){
      get_ids();
    }   

    // This causes the manual server resource validation to fire
{% for i in range(node_count) %}
{% for field in [form.hostname.field_id + '_' + ((i+1) | string), form.ip_address.field_id + '_' + ((i+1) | string), form.ip_address.field_id + '_' + ((i+1) | string), form.mac_address.field_id + '_' + ((i+1) | string),form.boot_drive.field_id + '_' + ((i+1) | string), form.pxe_type.dropdown_id + '_' + ((i+1) | string)] %}
  $('#{{ field }}').keyup(function (event) {     
    validate_all();    
  });
{% endfor %}
{% endfor %}

node_validate = function() {
  var node_fields_results = false;
  var node_hostnames = false;
  var node_mac_address = false;
  var node_ip_address = false;

  if({% for i in range(node_count) %}{% for field in [form.hostname.field_id + '_' + ((i+1) | string), form.ip_address.field_id + '_' + ((i+1) | string), form.ip_address.field_id + '_' + ((i+1) | string), form.mac_address.field_id + '_' + ((i+1) | string),form.boot_drive.field_id + '_' + ((i+1) | string), form.pxe_type.dropdown_id + '_' + ((i+1) | string) ] %} document.getElementById("{{ field }}").checkValidity() && {% endfor %}{% endfor %} true) {
    node_fields_results = true;
  }

  node_hostnames = check_hostnames();
  node_mac_address = check_mac_address();
  node_ip_address = check_ip_address();
    
  if (node_fields_results && node_hostnames && node_mac_address && node_ip_address){
    return true;
  }

  return false;
  
}

  check_hostnames = function(){
    var hostnameList = [];
    {% for i in range(node_count) %}{% for field in [form.hostname.field_id + '_' + ((i+1) | string)] %}
    {% raw %}if(document.getElementById("{% endraw %}{{ field }}{% raw %}").checkValidity()){
    hostnameList.push($("#{% endraw %}{{ field }}{% raw %}").val())
    }{% endraw %}
    {% endfor %}{% endfor %}

    var hostnameArr = hostnameList.sort();
    var hostnameDuplicates = [];

    for (var i = 0; i < hostnameArr.length - 1; i++) {
      if (hostnameArr[i + 1] == hostnameArr[i]) {
        hostnameDuplicates.push(hostnameArr[i]);
      }
    }

    if(hostnameDuplicates.length > 0){
      $( "#validation ").append("<p class='text-info'>- Duplicate hostnames found: " + hostnameDuplicates + " Node must have a unique hostnames.</p>");      
      return false;
    }

      return true;
  }

  check_mac_address = function(){
  var macList = [];
  {% for i in range(node_count) %}{% for field in [form.mac_address.field_id + '_' + ((i+1) | string)] %}
  {% raw %}if(document.getElementById("{% endraw %}{{ field }}{% raw %}").checkValidity()){
    macList.push($("#{% endraw %}{{ field }}{% raw %}").val())
  }{% endraw %}
  {% endfor %}{% endfor %}

  var macArr = macList.sort();
  var macDuplicates = [];

  for (var i = 0; i < macArr.length - 1; i++) {
    if (macArr[i + 1] == macArr[i]) {
      macDuplicates.push(macArr[i]);
    }
  }

  if(macDuplicates.length > 0){
    $( "#validation ").append("<p class='text-info'>- Duplicate mac addresses found: " + macDuplicates + " Nodes must have a unique mac address.</p>");    
    return false;
  }

  return true;
}

  check_ip_address = function(){
  var ipList = [];
  {% for i in range(node_count) %}{% for field in [form.ip_address.field_id + '_' + ((i+1) | string)] %}
  {% raw %}if(document.getElementById("{% endraw %}{{ field }}{% raw %}").checkValidity()){
    ipList.push($("#{% endraw %}{{ field }}{% raw %}").val())
  }{% endraw %}
  {% endfor %}{% endfor %}

  var ipArr = ipList.sort();
  var ipDuplicates = [];

  for (var i = 0; i < ipArr.length - 1; i++) {
    if (ipArr[i + 1] == ipArr[i]) {
      ipDuplicates.push(ipArr[i]);
    }
  }

  if(ipDuplicates.length > 0){
    $( "#validation ").append("<p class='text-info'>- Duplicate ip addresses found: " + ipDuplicates + " Nodes must have a unique ip address.</p>");    
    return false;
  }

    return true;
}

    callbacks.add( node_get_ids ); 

  });
</script>

{# This loop goes from 0 to node_count #}
{% for i in range(node_count) %}
<div class="node_slide card">
  <div class="card-header" id="{{ ['node_accordion_header', i+1] | join('_') }}">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ ['node_collapse', i+1] | join('_') }}" aria-expanded="true" aria-controls="{{ ['node_collapse', i+1] | join('_') }}">
        node {{ i + 1 }}<span id="node_{{ i + 1 }}_hostname"></span>
      </button>
    </h5>
  </div>
  <div id="{{ ['node_collapse', i+1] | join('_') }}" class="c-ollapse show" aria-labelledby="{{ ['node_accordion_header', i+1] | join('_') }}">
      <div class="card-body">
      {% with object = form.hostname.change_values(
        (['hostname_form', i+1] | join('_')),
          (form.hostname.field_id + '_' + ((i+1) | string))) %}
          {% include "text_input.html" %}
      {% endwith %}
      {% with object = form.ip_address.change_values(
        (['ip_address_form', i+1] | join('_')),
         (form.ip_address.field_id + '_' + ((i+1) | string))) %}
         {% include "text_input.html" %}
      {% endwith %}
      {% with object = form.mac_address.change_values(
        (['mac_address_form', i+1] | join('_')),
         (form.mac_address.field_id + '_' + ((i+1) | string))) %}
         {% include "text_input.html" %}
      {% endwith %}
      {% with object = form.boot_drive.change_values(
        (['boot_drive_form', i+1] | join('_')),
         (form.boot_drive.field_id + '_' + ((i+1) | string))) %}
         {% include "text_input.html" %}
      {% endwith %}
      {% for option in form.pxe_type_settings %}
      {% if option.include_html is defined %}
        {% with object = option %}
          {% with object = form.pxe_type.change_values(
            (['pxe_type_form', i+1] | join('_')),
            (form.pxe_type.dropdown_id + '_' + ((i+1) | string))) %}
            {% include option.include_html %}
          {% endwith %}
        {% endwith %}
      {% endif %}
    {% endfor %}  
   </div>
  </div>  
</div>
{% endfor %}
