
<script>
// Adding this allows this code to be identified in a browser debugger
//@ sourceURL=pcap_disk_list

  $(document).ready(function(){

    pcap_disks_get_ids = function(){
      get_ids();
    }
    callbacks.add( pcap_disks_get_ids );

    {% for disk in disks %}
    $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).on('click', function (event) {

      if($( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).hasClass( "active" )) {
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).removeClass( "active" );
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).html("{{ disk['name'] }}");
        set_pcap_drive("{{ hostname }}", "{{ disk['name'] }}", false);
        set_pcap_drives_validated(false);
      } else {
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).addClass( "active" );
        $( "#{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}" ).html("{{ disk['name'] + ' - selected'}}");
        set_pcap_drive("{{ hostname }}", "{{ disk['name'] }}", true);
        set_pcap_drives_validated(true);
      }

      // This loops over each button this ISN'T the PCAP drive that was clicked
      // and flips its disabled status to be the opposite of what it currently is.
      // This has the effect of only allowing one of the PCAP drives to be selected
      // at any given time.
      $( ".pcap_disk" ).not( "#" + event.target.id ).each(function() {
        if($(this).hasClass( "active" )){
          $( this ).removeClass( "active" );
          // The two lines below gets the current button text and modifies it. For example,
          // it may say something like 'sdb - selected'. The below would get that line
          // and delete the '- selected' portion
          var drive_name = $( this ).html().split(' ')[0];
          $( this ).html(drive_name);
          set_pcap_drive("{{ hostname }}", drive_name, false);
        }
      });
    });
    {% endfor %}

  });
</script>

<div class="card" style="width: 20rem;">
  <div class="card-header">
    Select PCAP Drive
  </div>
  <div class="card-body">
    <p class="card-text">Select which drive you would like to use for PCAP storage.</p>
    <p class="card-text text-danger">Note: The operating system's drive will not appear here. If a drive has the root file system mounted to it, it is excluded. This means you may only have one drive listed.</p>
  </div>
  <div class="btn-group-vertical" role="group">
    {% if (disks | length) > 0 %}
    {% for disk in disks %}
    <button type="button" class="btn btn-primary pcap_disk" id="{{ [form.use_as_pcap_storage.generic_button_id, disk['name'], device_number, device_type] | join('_') }}">{{ disk['name'] }}</button>
    {% endfor %}
    {% else %}
    <div class="alert alert-danger" role="alert">
      No drives found! Are you sure you have a second eligible drive that does not have the root partition mounted?
    </div>
    {% endif %}
  </div>
</div>
<a href="{{ url_for('help') + '#anchor_' + form.use_as_pcap_storage.label | replace(' ','_') }}" target="_blank">
  <label>What is this?</label>
</a>
