
<script>

//@ sourceURL=sensor.js

$(document).ready(function(){

  sensor_get_ids = function(){
    get_ids();

    // This fires when generate_interface in kit_inventory is called (it's part of
    // the callbacks). It is used for retrieving the bro workers and moloch thread
    // counts from each of the sensors
    {% for i in range(sensor_count) %}
    set_host_value("{{ 'sensor_' + ((i+1) | string) + '_hostname' }}", "bro_workers", parseInt($( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).val()));
    set_host_value("{{ 'sensor_' + ((i+1) | string) + '_hostname' }}", "moloch_threads", parseInt($( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).val()));
    {% endfor %}

    for(i=1; i <= home_net_count; i++) {
      // We need to make sure the element is valid before putting it in the dictionary
      if(document.getElementById("{{ form.home_net.field_id }}_" + String(i)).checkValidity() == true ) {
        set_home_net(i, $( "#{{ form.home_net.field_id }}_" + String(i) ).val());
      }
    }
  }
  callbacks.add( sensor_get_ids );

  // The condition below is here to take care of the case that a user unlocks
  // the advanced settings before submitting a sensor count. In which case
  // we want all of the fields drawn. Furthermore, we also have to check if
  // they have or have not clicked the disable autocalculations button
  {% for i in range(sensor_count) %}
  if( !get_advanced_settings_status() ) {
    $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}").hide();
  }

  // We only need to check one of the elements since they are all kept in sync
  if ( $('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {
    $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
    $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
  } else {
    $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
    $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
  }
  {% endfor %}

  {% for i in range(sensor_count) %}
  $( "#{{ form.advanced_settings_button.generic_button_id }}" ).click(function (event) {
    if( get_advanced_settings_status()) {
      $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}").slideDown("slow");
    } else {
      $( ".{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}").hide();
    }
  });
  {% endfor %}

  $("#{{ form.disable_autocalculate.checkbox_id }}").change(event, function() {

    {% for i in range(sensor_count) %}
    // We only need to check one of the elements since they are all kept in sync
    if ( $('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {
      $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
      $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", false );
    } else {
      $( "#{{ (form.bro_workers.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
      $( "#{{ (form.moloch_threads.field_id + '_' + ((i+1) | string)) }}" ).prop( "disabled", true );
    }
    {% endfor %}
  });

  validate_interfaces = function() {
    if({% for i in range(sensor_count) %}{{ "monitor_interface_" + ((i+1) | string) + "_valid" }} &&{% endfor %} true) {
      set_monitor_interface_validation(true);
      validate_all();
    } else {
      set_monitor_interface_validation(false);
      validate_all();
    }
  }

  {% for i in range(sensor_count) %}

  {{ "monitor_interface_" + ((i+1) | string) + "_valid" }} = false;

  {{ form.monitor_interface.callback + "_" + ((i+1) | string) }} = function(count) {
    if(count > 0) {
      {{ "monitor_interface_" + ((i+1) | string) + "_valid" }} = true;
    } else {
      {{ "monitor_interface_" + ((i+1) | string) + "_valid" }} = false;
    }
    validate_interfaces();
  }
  {% endfor %}

  // This function calculates the total of all the sensor resource percentage fields.
  recalculate_sensor_resource_percentages = function() {
    {% for field in form.sensor_resource_percentages %}
      var {{ field.field_id + "_var" }} = parseInt($( "#{{ field.field_id }}" ).val());
    {% endfor %}
    var total = 0;
    {% for field in form.sensor_resource_percentages %}
      total += {{ field.field_id + "_var" }};
    {% endfor %}

    $( "#sensor_resource_percentage_allocated" ).text(total);

    if(total < 100 && total > 0) {

      // We need to calculate which sensor has the lowest resource count. This
      // is the sensor we will use for our calculations
      var lowest_cpus = parseInt($( "#sensor_1_cpus_available" ).text());

      {% for i in range(sensor_count) %}
      cpus = parseInt($( "#{{ 'sensor_' + ((i + 1) | string) + '_cpus_available' }}" ).text());
      if(cpus < lowest_cpus) {
        lowest_cpus = cpus;
      }
      {% endfor %}

      lowest_cpus -= 1;

      if(lowest_cpus > 0) {
        // Now we need to calculate what percentage of the cores each resource will
        // receive. Remember 1000m = 1 core in Kubernetes.
        total_cpu_power_avaliable = lowest_cpus * 1000;

        {% for field in form.sensor_resource_percentages %}
        var {{ field.field_id + "_cpus" }} = Math.floor(total_cpu_power_avaliable * ({{ field.field_id + "_var" }}/100));

        // We need the below so that these values can be retrieved when we go to generate
        // the inventory file
        set_id_value("{{ field.label[0].split(' ')[0] + '_cpu_request' }}", {{ field.field_id + "_cpus" }});
        $( "#{{ field.field_id + '_span' }}" ).text(({{ field.field_id + "_cpus" }}/1000).toFixed(2));
        {% endfor %}

        set_sensor_resources_validated(true);
        $( "#sensor_resource_percentage_warnings" ).text("");

        // We only do this calculation if the algorithm is currently enabled
        if ( !$('#{{ form.disable_autocalculate.checkbox_id }}').is(":checked") ) {

          // Configure Sensor Moloch Threads
          if ({{ form.moloch_cpu_percentage.field_id + "_cpus" }} < 1000) {
            moloch_threads = 1;
          } else {
            moloch_threads = Math.round({{ form.moloch_cpu_percentage.field_id + "_cpus" }}/1000);
          }

          {% for i in range(sensor_count) %}
          $( "#{{ form.moloch_threads.field_id + '_' }}{{ i + 1 }}" ).val(moloch_threads);
          {% endfor %}

          // Configure Sensor Bro Threads
          if ({{ form.bro_cpu_percentage.field_id + "_cpus" }} < 1000) {
            bro_workers = 1;
          } else {
            bro_workers = Math.round({{ form.bro_cpu_percentage.field_id + "_cpus" }}/1000);
          }

          {% for i in range(sensor_count) %}
          $( "#{{ form.bro_workers.field_id + '_' }}{{ i + 1 }}" ).val(bro_workers);
          {% endfor %}
        }
      } else {
        set_sensor_resources_validated(false);
      }
    } else {
      set_sensor_resources_validated(false);
      $( "#sensor_resource_percentage_warnings" ).text('The sensor\'s total resources cannot exceeed 99!');
    }
  }

  {% for field in form.sensor_resource_percentages %}
  $('#{{ field.field_id }}').keyup(function (event) {
    recalculate_sensor_resource_percentages();
    validate_all();
  });
  {% endfor %}

  recalculate_sensor_resource_percentages();

  // The gather facts button should start disabled until someone types in a
  // password
  {% for i in range(sensor_count) %}
  if ( $( '#{{ form.password.field_id }}' ).val() == "" ) {
    $( "#{{ form.host_sensor.button_id + '_' + ((i+1) | string) }}" ).prop( "disabled", true );
  }
  {% endfor %}

  // Need to make sure they type something in the password field before we allow
  // them to continue
  $('#{{ form.password.field_id }}').keyup(function (event) {
    // Only do this if autocalculate is enabled
    if ( $( '#{{ form.password.field_id }}' ).val() != "" ) {
      {% for i in range(sensor_count) %}
      $( "#{{ form.host_sensor.button_id + '_' + ((i+1) | string) }}" ).prop( "disabled", false );
      {% endfor %}
    } else {
      {% for i in range(sensor_count) %}
      $( "#{{ form.host_sensor.button_id + '_' + ((i+1) | string) }}" ).prop( "disabled", true );
      {% endfor %}
    }
  });
});

// This is the number of home net boxes which exist. It starts at one because by
// default we draw one of them, but then draw more as needed. It is used by the
// home_net.js file.
var home_net_count = 1;
</script>

<div class="card">
  <div class="card-header">
    Total Sensor Resources
  </div>
  <div class="card-body">
    <p class="card-text">CPU Cores Available: <span id="sensor_cpus_available">0</span></p>
    <p class="card-text">Memory Available: <span id="sensor_memory_available">0</span> GB</p>
    <p class="card-text">Clustered Storage Available: <span id="sensor_clustered_storage_available">0</span> GB</p>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted">Sensor Resource Allocations</h6>
    <hr>
    {% for field in form.sensor_resource_percentages %}
    <p class="card-text">{{ field.label.split(' ')[0] }} CPUs: <span id="{{ field.field_id + "_span" }}">0</span></p>
    {% endfor %}
    {% for option in form.sensor_resource_percentages %}
      {% if option.include_html is defined %}
        {% with object = option %}
          {% include option.include_html %}
        {% endwith %}
      {% endif %}
    {% endfor %}
    <p class="text-info">Keep in mind that each sensor will have one core set aside for everything else. This may lead to the system telling you that you have insufficient cores though it seems like you have enough.</p>
    <p class="card-text">The default values above were derived from testing with SuperMicro ThinkMates based on 1.25 Gb/s of HTTP/SMB/FTP/YouTube. We used TCPReplay on each sensor with PCAP to avoid the interfaces throttling how much we could play. The system will use the sensor with the lowest CPU count for calculations. Keep in mind, this does not mean faster systems won't use that speed, the above are effectively ratios. See field descriptions for more information.</p>
    <p class="card-text">Percentage Allocated: <span id="sensor_resource_percentage_allocated">0</span></p>
    <p class="card-text text-danger"><span id="sensor_resource_percentage_warnings"></span></p>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted">Home NET Settings</h6>
    <hr>
    <!-- We modify the below because it shouldn't just be the generic form name.
    It needs to start at one. If they add another home net field it will be 2, etc -->
    {% with object = form.home_net.change_values(
      ([form.home_net.form_name, 1] | join('_')),
      ([form.home_net.field_id, 1] | join('_')),
      ([form.home_net.button_id, 1] | join('_'))) %}
      {% include object.include_html %}
    {% endwith %}
    <div id="{{ form.home_net.field_id + '_div' }}"></div>
  </div>
</div>
{# This loop goes from 0 to sensor_count #}
{% for i in range(sensor_count) %}
<div class="sensor_slide card">
  <div class="card-header" id="{{ ['sensor_accordion_header', i+1] | join('_') }}">
    <h5 class="mb-0">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ ['sensor_collapse', i+1] | join('_') }}" aria-expanded="true" aria-controls="{{ ['sensor_collapse', i+1] | join('_') }}">
        Sensor {{ i + 1 }}<span id="sensor_{{ i + 1 }}_hostname"></span>
      </button>
    </h5>
  </div>
  <div id="{{ ['sensor_collapse', i+1] | join('_') }}" class="c-ollapse show" aria-labelledby="{{ ['sensor_accordion_header', i+1] | join('_') }}">
    <div class="card-body">
      <div class="card" style="width: 20rem;">
        <div class="card-header">
          Sensor {{ i + 1 }} Resources
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">CPU Cores Available: <span id="sensor_{{ i + 1}}_cpus_available">0</span></li>
          <li class="list-group-item">Memory Available: <span id="sensor_{{ i + 1 }}_memory_available">0</span> GB</li>
          <li class="list-group-item border-bottom">Total Drive Space Available: <span id="sensor_{{ i + 1 }}_disk_space_available">0</span> GB</li>
        </ul>
      </div>
      <br>
      <!-- This is the modal button for confirming whether or not this is a remote
      sensor -->
      {% with object = form.sensor_gather_facts_modal %}
        {% include "modal_button.html" %}
      {% endwith %}
      <!-- For a description of what these arguments are see button_reaction_gather_device_facts -->
      {% with object = form.host_sensor.change_values(
        (['sensor_form', i+1] | join('_')),
         (form.host_sensor.field_id + '_' + ((i+1) | string)),
         (form.host_sensor.button_id + '_' + ((i+1) | string)),
         ('sensor_' + ((i+1) | string) + '_cpus_available'),
         ('sensor_' + ((i+1) | string) + '_memory_available'),
         ('sensor_' + ((i+1) | string) + '_disk_space_available'),
         ('sensor_' + ((i+1) | string) + '_hostname'),
         i+1,
         'sensor') %}
         {% include "button.html" %}
      {% endwith %}
      <br>
      <div class="{{ form.advanced_settings_button.generic_button_id + 'div_element' + '_' + (i | string) }}">
        <p class='font-weight-light'>{{ form.bro_workers.label }} and {{ form.moloch_threads.label }} are both advanced settings and will be autopopulated based on the resources available to the devices you input. You do not have to fill in these values.</p>
        {% with object = form.bro_workers.change_values(
          (['bro_workers_form', i+1] | join('_')),
           (form.bro_workers.field_id + '_' + ((i+1) | string))) %}
           {% include "text_input.html" %}
        {% endwith %}
        {% with object = form.moloch_threads.change_values(
          (['moloch_threads_form', i+1] | join('_')),
           (form.moloch_threads.field_id + '_' + ((i+1) | string))) %}
           {% include "text_input.html" %}
        {% endwith %}
        <br>
      </div>
      <form id='{{ [form.sensor_ceph_drive_list, i+1] | join('_') }}' role=form>
        <div id="{{ ['sensor_ceph_drive_list', i+1] | join('_') }}"></div>
      </form>
      <br>
      <div id="{{ [form.sensor_monitor_interface, i+1] | join('_') }}"></div>
    </div>
  </div>
</div>
{% endfor %}
